.sv-segment {
  background: $sv-color-white;
  border: 1px solid rgba($sv-color-black-light, .15);
  border-radius: .28571429rem;
  box-shadow: 0 1px 2px 0 rgba(34, 36, 38, .15);
  margin: 1rem 0;
  padding: $sv-padding-large;
  position: relative;
  z-index: auto;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &.flat {
    box-shadow: none;
  }

  &.stacked {
    padding-bottom: 1.4em;

    &:before,
    &:after {
      background: rgba(0, 0, 0, .03);
      border-top: 1px solid rgba(34, 36, 38, .15);
      bottom: -3px;
      content: '';
      height: 6px;
      left: 0%;
      position: absolute;
      visibility: visible;
      width: 100%;
    }

    &:before {
      display: none;
    }
  }

  &.tall {
    &:before {
      bottom: 0;
      display: block;
    }
  }

  &.small {
    margin: .2em;
    padding: .2em .5em;
  }
}
