h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  line-height: $sv-headings-line-height;
  margin-bottom: $sv-headings-margin-bottom;
  margin-top: 0;
}

h1 {
  font-size: $sv-font-size-h1;
  // letter-spacing: -.1rem;
  // line-height: 1.3;
}

h2 {
  font-size: $sv-font-size-h2;
  // letter-spacing: -.08rem;
  // line-height: 1.35;
}

h3 {
  font-size: $sv-font-size-h3;
  // letter-spacing: -.05rem;
  // line-height: 1.5;
}

h4 {
  font-size: $sv-font-size-h4;
  // letter-spacing: 0;
  // line-height: 1.6;
}

h5 {
  font-size: $sv-font-size-h5;
  // letter-spacing: 0;
  // line-height: 1.7;
}

h6 {
  font-size: $sv-font-size-h6;
  // letter-spacing: 0;
  // line-height: 1.8;
}

.sv-text-italic {
  font-style: italic;
}
