body {
  margin-top: 60px !important;
}

.beta {
  width: 143px;
  padding: 0;
  text-align: center;
  color: #fff;
  font-size: .6rem;
  position: fixed;
  top: 5px;
  left: -59px;
  transform: rotate(-45deg);
  background-color: #e43;
}

pre {
  font-size: .8em;
  margin: 0;
}

.dm-header {
  height: 60px;
  position: fixed;
  background-color: #24363B;
  top: 0;
  left: 0;
  right: 0;
}

.dm-logo {
  width: 190px !important;
  display: block;
  float: left;
  padding: 14px 10px;
  height: 60px;
}

.dm-menu {
  display: block;
  float: right;
  width: 180px;
  padding: 14px 5px 14px 0;
  height: 60px;
  line-height: 30px;
}

.dm-menu span a{
  font-size: .9rem;
}

.dm-hero {
  height: 280px;
  background: url('hero-text.svg') no-repeat center center;
  background-size: 90% 90%;
  transition: all 0.3s;
}

@media screen and (min-width: 800px) {
  .dm-hero {
    height: 460px;
  }

  .dm-menu {
    width: 250px;
    padding: 14px ;
  }

  .dm-menu span a{
    font-size: 1rem;
  }

}

.dm-home-content {
  width: 100%;
  padding: 40px 0;
  clear: both;
}

.dm-home-synchro {
  width: 100%;
  padding: 20px 0;
  clear: both;
}

@media screen and (min-width: 1180px) {
  .dm-home-content {
    width: 1180px;
    padding: 80px 0;
    margin: 0 auto;
  }

  .dm-home-synchro {
    width: 1180px;
    padding: 40px 0;
    margin: 0 auto;
  }
}

.dm-credits {
  text-align: center;
  font-size: x-small;
}

.dm-content {
  padding: 15px;
  transition: all .2s ease-in-out;
}

.dm-sidebar {
  width: 180px;
  height: 100vh;
  position: fixed;
  padding: 40px 0 0 0;
  box-shadow: 1px 0 2px rgba(0,0,0,.2);
  top: 60px;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all .2s ease-in-out;
  background-color: #fff;
  z-index: 999;
}


.dm-sidebar header {
  padding: 0;
}

.dm-sidebar ul li a {
  font-size: .9rem;
  font-weight: 400;
  text-decoration: none;
  padding: 7px 0 7px 25px;
  display: block;
  border-top: 1px solid #e0e6ed;
  color: #8492A6;
}

.dm-sidebar ul li a:hover,
.dm-sidebar ul li a.active {
  background-color: #f9fafc;
  padding: 7px 0 7px 20px;
  border-left: 5px solid #1e88e5;
}

.dm-main {
  width: calc(100% - 180px);
  margin-left: 180px;
  /*margin-top: 50px;*/
  padding: 15px;
}

.dm-sidebar-trigger {
  width: 30px;
  height: 30px;
  line-height: 30px;
  background-color: #00a4db;
  position: fixed;
  top: -50px;
  right: 5px;
  transition: all .5s ease-in-out;
  text-align: center;
  color: #fff;
  font-size: 1.2em;
  cursor: pointer;
}

.dm-sidebar-trigger:after {
  content: "\2630";
}

.dm-sidebar-trigger-controller {
  position: absolute;
  opacity: 0;
}

.dm-sidebar-trigger-controller:checked ~ .dm-sidebar {
  width: 250px;
}

.dm-sidebar-trigger-controller:checked ~ .dm-sidebar-trigger:after {
  content: "\00d7";
}

/*:not(:checked)*/

/*!*.dm-header-main {*!*/
  /*!*width: calc(100% - 250px);*!*/
  /*!*margin-left: 250px;*!*/
  /*!*height: 50px;*!*/
  /*!*position: fixed;*!*/
  /*!*top: 0;*!*/
/*!*}*!*/

.dm-about {
  /*height: 85vh;*/
  padding: 15px;
}


.dm-banner {
  font-size: 4rem;
  line-height: 1.3;
}

.dm-code-container {
  margin: 5px;
  border: 1px solid #e0e6ed;
  padding: 0;
  background-color: #fff;
}

.dm-code-container.inactive {
  border: none;
}

.dm-code-container__button {
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border: none;
  /*border-top: 1px solid #e0e6ed;*/
  background-color: transparent;
  color: #9299ae;
  text-transform: uppercase;
  font-weight: 300;
  font-size: .9rem;
}

.dm-code-container__button:hover {
  color: #4c4f5b;
  /*background-color: #e0e6ed;*/
}

.dm-syntec {
  width: 180px;
  margin: 100px 0 30px 0;
  text-align: center;
}

.dm-color {
  height: 40px;
  text-align: left;
  padding: 5px 15px;
  margin: 0 10px;
  font-size: .9rem;
  line-height: 2;
}

.dm-color:first-of-type {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.dm-color:last-of-type {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.dm-grid-show {
  padding: 0;
}
.dm-grid-show .sv-column {
  color: #273444;
  text-align: center;
}



@media screen and (min-width: 641px) and (max-width: 960px) {
  .dm-sidebar {
    width: 180px;
  }

  .dm-main {
    width: calc(100% - 180px);
    margin-left: 180px;
  }

  .dm-sidebar-trigger {
    display: none;
  }

  .dm-syntec {
    width: 180px;
  }
}

@media screen and (max-width: 640px) {

  body {
    margin-top: 80px;
  }

  .dm-sidebar {
    width: 0;
  }

  .dm-main {
    width: 100%;
    margin: 0;
  }

  .dm-sidebar-trigger {
    top: 5px;
    transition: transform 1s;
  }

}