<div class='sv-container'>
  <div class='grid-2 grid-4-md grid-6-xs'>G2</div>
  <div class='grid-2 grid-4-md grid-6-xs'>G2</div>
  <div class='grid-2 grid-4-md grid-6-xs'>G2</div>
  <div class='grid-2 grid-4-md grid-6-xs'>G2</div>
  <div class='grid-2 grid-4-md grid-6-xs'>G2</div>
  <div class='grid-2 grid-4-md grid-6-xs'>G2</div>
</div>

<div class='sv-container'>
  <div class='grid-2 grid-3-md grid-12-xs'>G2</div>
  <div class='grid-8 grid-6-md grid-12-xs'>G8</div>
  <div class='grid-2 grid-3-md grid-12-xs'>G2</div>
</div>
