
h1,
h2,
h3,
h4,
h5,
h6{
  color: inherit;
  font-weight: $sv-font-weight-bold;
  line-height: 1;
  padding: $sv-padding-default 0;
  margin: $sv-margin-default 0;
  width: 100%;
}

h1 {
  font-size: $sv-font-size-h1;
}

h2 {
  font-size: $sv-font-size-h2;
}

h3 {
  font-size: $sv-font-size-h3;
}

h4 {
  font-size: $sv-font-size-h4;
}

h5 {
  font-size: $sv-font-size-h5;
}

h6 {
  font-size: $sv-font-size-h6;
}

p {
  margin: 0 0 $sv-margin-med-two;
  display: block;

  &.sv-text-large {
    margin: 0 0 $sv-margin-big;
  }
}

p img {
  vertical-align: middle;
}

/*--------------------------------------------------------
CODE
--------------------------------------------------------*/
.sv-code {
  font-family: $sv-font-family-mono;
  padding: 0 $sv-padding-small;
  background-color: map-get($sv-colors, 'steel-100');
  color: map-get($sv-colors, 'code-color');
  border-radius: $sv-form-fields-default-border;
}

code, kbd, pre, samp {
  font-family: $sv-font-family-mono;
}

/*--------------------------------------------------------
TEXT SIZE
--------------------------------------------------------*/
.sv-text-small {
  font-size: $sv-font-small;
}

.sv-text-smaller {
  font-size: $sv-font-xsmall;
}

.sv-text-large {
  font-size: $sv-font-lg;
}


/*--------------------------------------------------------
FONT WEIGHT
--------------------------------------------------------*/
.sv-fw-thin {
  font-weight: $sv-font-weight-thin;
}

.sv-fw-normal {
  font-weight: $sv-font-weight-default;
}

.sv-fw-bold {
  font-weight: $sv-font-weight-bold;
}

/*--------------------------------------------------------
TEXT STYLES
--------------------------------------------------------*/
.sv-ts-i {
  font-style: italic;
}

.sv-ts-u {
  text-decoration: underline;
}

.sv-ts-lt {
  text-decoration: line-through;
}

/*--------------------------------------------------------
TEXT TRANSFORMS
--------------------------------------------------------*/
.sv-tt-u {
  text-transform: uppercase;
}
.sv-tt-l {
  text-transform: lowercase;
}
.sv-tt-c {
  text-transform: capitalize;
}
