
h1,
h2,
h3,
h4,
h5,
h6{
  font-weight: 400;
  line-height: 1;
  padding: .6rem 0;
  margin: .3rem 0;

  &.sv-title {
    color: map-get($sv-colors, 'blue-gray-700');
    //border-bottom: 1px solid map-get($sv-colors, 'blue-gray-200');
    margin-bottom: 1.5rem;
    font-weight: 400;
  }

  &.thin {
    font-weight: 300;
  }

  &.bold {
    font-weight: 600;
  }

}

h1 {
  font-size: $sv-font-size-h1;
}

h2 {
  font-size: $sv-font-size-h2;
}

h3 {
  font-size: $sv-font-size-h3;
}

h4 {
  font-size: $sv-font-size-h4;
}

h5 {
  font-size: $sv-font-size-h5;
}

h6 {
  font-size: $sv-font-size-h6;
}

p {
  margin: 0 0 1rem;

  &.thin {
    font-weight: 300;
  }

  &.bold {
    font-weight: 600;
  }

  &.small {
    font-size: .85rem;
  }
}

p img {
  vertical-align: middle;
}

code {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #fafbfd;
}

dl dt {
  font-weight: 500;
}

dl dd {
  margin-bottom: 10px;
}

code, kbd, pre, samp {
  font-family: Monaco, Menlo, Consolas, monospace;
}