
h1,
h2,
h3,
h4,
h5,
h6{
  color: inherit;
  font-weight: $sv-font-weight-bold;
  line-height: 1;
  padding: $sv-padding-default 0;
  margin: $sv-margin-default 0;
  width: 100%;

  &.sv-title {
    //color: map-get($sv-colors, 'blue-gray-700');
    //border-bottom: 1px solid map-get($sv-colors, 'blue-gray-200');
    margin-bottom: 1.5rem;
    font-weight: $sv-font-weight-bold;
    border-bottom: 1px solid map-get($sv-colors, 'steel-300');;
  }

}

h1 {
  font-size: $sv-font-size-h1;
}

h2 {
  font-size: $sv-font-size-h2;
}

h3 {
  font-size: $sv-font-size-h3;
}

h4 {
  font-size: $sv-font-size-h4;
}

h5 {
  font-size: $sv-font-size-h5;
}

h6 {
  font-size: $sv-font-size-h6;
}

p {
  margin: 0 0 $sv-margin-med-two;
  display: block;

  &.small {
    font-size: .85rem;
  }
}

p img {
  vertical-align: middle;
}

//TODO: VARIABLES
.code {
  font-family: $sv-font-family-mono;
  padding: 0 5px;
  background-color: #eff2f7;
  color: #d33682;
  border-radius: 3px;
}

dl dt {
  font-weight: 600;
}

dl dd {
  margin-bottom: 10px;
}

code, kbd, pre, samp {
  font-family: Monaco, Menlo, Consolas, monospace;
}

.sv-text-small {
  font-size: $sv-font-small;
}

.sv-text-smaller {
  font-size: $sv-font-xsmall;
}

.sv-text-big {
  font-size: $sv-font-lg;
}