$header-height          :45px;
$footer-height          :35px;
$body-margin            :40px;
$horizontal-menu-height :40px;
$vertical-menu-height   :30px;
$fluid-nav-witdh        :230px;
$menu-width             :230px;
