
$white: #ffffff;



$default-text     : #222;


$link-color       : #0060aa;
$link-color-hover : rgba(#0060aa, .7);

$header-bg        : #0072C6;
$nav-fluid-bg     : #ffffff;
$nav-link-bg      : #ecf0f1;


$brand-color      : $white;











// $blue          :#0060aa;
// $blue-top      :#0072C6;
// $blue-light    :#9dd7f4;
// $green         :#3c7703;
// $green-light   :#a4e22b;
// $yellow        :#f2aa0c;
// $yellow-light  :#f9e27d;
// $red           :#c0392b;
// $red-light     :#e74c3c;
// $gray          :#acaaaa;
// $gray-dark     :#434343;
// $gray-light    :#ecf0f1;
// $black         :#000000;
// $white         :#ffffff;
