<div class='group'>
  <ul class='example-only-colors'>
    <li><span class='sv-bg-color-red'></span>red</li>
    <li><span class='sv-bg-color-red-50'></span>red-50</li>
    <li><span class='sv-bg-color-red-100'></span>red-100</li>
    <li><span class='sv-bg-color-red-200'></span>red-200</li>
    <li><span class='sv-bg-color-red-300'></span>red-300</li>
    <li><span class='sv-bg-color-red-400'></span>red-400</li>
    <li><span class='sv-bg-color-red-500'></span>red-500</li>
    <li><span class='sv-bg-color-red-600'></span>red-600</li>
    <li><span class='sv-bg-color-red-700'></span>red-700</li>
    <li><span class='sv-bg-color-red-800'></span>red-800</li>
    <li><span class='sv-bg-color-red-900'></span>red-900</li>
    <li><span class='sv-bg-color-red-a100'></span>red-a100</li>
    <li><span class='sv-bg-color-red-a200'></span>red-a200</li>
    <li><span class='sv-bg-color-red-a400'></span>red-a400</li>
    <li><span class='sv-bg-color-red-a700'></span>red-a700</li>
  </ul>

  <ul class='example-only-colors'>
    <li><span class='sv-bg-color-pink'></span>pink</li>
    <li><span class='sv-bg-color-pink-50'></span>pink-50</li>
    <li><span class='sv-bg-color-pink-100'></span>pink-100</li>
    <li><span class='sv-bg-color-pink-200'></span>pink-200</li>
    <li><span class='sv-bg-color-pink-300'></span>pink-300</li>
    <li><span class='sv-bg-color-pink-400'></span>pink-400</li>
    <li><span class='sv-bg-color-pink-500'></span>pink-500</li>
    <li><span class='sv-bg-color-pink-600'></span>pink-600</li>
    <li><span class='sv-bg-color-pink-700'></span>pink-700</li>
    <li><span class='sv-bg-color-pink-800'></span>pink-800</li>
    <li><span class='sv-bg-color-pink-900'></span>pink-900</li>
    <li><span class='sv-bg-color-pink-a100'></span>pink-a100</li>
    <li><span class='sv-bg-color-pink-a200'></span>pink-a200</li>
    <li><span class='sv-bg-color-pink-a400'></span>pink-a400</li>
    <li><span class='sv-bg-color-pink-a700'></span>pink-a700</li>
  </ul>

  <ul class='example-only-colors'>
    <li><span class='sv-bg-color-deep-purple'></span>deep-purple</li>
    <li><span class='sv-bg-color-deep-purple-50'></span>deep-purple-50</li>
    <li><span class='sv-bg-color-deep-purple-100'></span>deep-purple-100</li>
    <li><span class='sv-bg-color-deep-purple-200'></span>deep-purple-200</li>
    <li><span class='sv-bg-color-deep-purple-300'></span>deep-purple-300</li>
    <li><span class='sv-bg-color-deep-purple-400'></span>deep-purple-400</li>
    <li><span class='sv-bg-color-deep-purple-500'></span>deep-purple-500</li>
    <li><span class='sv-bg-color-deep-purple-600'></span>deep-purple-600</li>
    <li><span class='sv-bg-color-deep-purple-700'></span>deep-purple-700</li>
    <li><span class='sv-bg-color-deep-purple-800'></span>deep-purple-800</li>
    <li><span class='sv-bg-color-deep-purple-900'></span>deep-purple-900</li>
    <li><span class='sv-bg-color-deep-purple-a100'></span>deep-purple-a100</li>
    <li><span class='sv-bg-color-deep-purple-a200'></span>deep-purple-a200</li>
    <li><span class='sv-bg-color-deep-purple-a400'></span>deep-purple-a400</li>
    <li><span class='sv-bg-color-deep-purple-a700'></span>deep-purple-a700</li>
  </ul>

  <ul class='example-only-colors'>
    <li><span class='sv-bg-color-indigo'></span>indigo</li>
    <li><span class='sv-bg-color-indigo-50'></span>indigo-50</li>
    <li><span class='sv-bg-color-indigo-100'></span>indigo-100</li>
    <li><span class='sv-bg-color-indigo-200'></span>indigo-200</li>
    <li><span class='sv-bg-color-indigo-300'></span>indigo-300</li>
    <li><span class='sv-bg-color-indigo-400'></span>indigo-400</li>
    <li><span class='sv-bg-color-indigo-500'></span>indigo-500</li>
    <li><span class='sv-bg-color-indigo-600'></span>indigo-600</li>
    <li><span class='sv-bg-color-indigo-700'></span>indigo-700</li>
    <li><span class='sv-bg-color-indigo-800'></span>indigo-800</li>
    <li><span class='sv-bg-color-indigo-900'></span>indigo-900</li>
    <li><span class='sv-bg-color-indigo-a100'></span>indigo-a100</li>
    <li><span class='sv-bg-color-indigo-a200'></span>indigo-a200</li>
    <li><span class='sv-bg-color-indigo-a400'></span>indigo-a400</li>
    <li><span class='sv-bg-color-indigo-a700'></span>indigo-a700</li>
  </ul>

</div>

<div class='group'>


  <ul class='example-only-colors'>
    <li><span class='sv-bg-color-green'></span>green</li>
    <li><span class='sv-bg-color-green-50'></span>green-50</li>
    <li><span class='sv-bg-color-green-100'></span>green-100</li>
    <li><span class='sv-bg-color-green-200'></span>green-200</li>
    <li><span class='sv-bg-color-green-300'></span>green-300</li>
    <li><span class='sv-bg-color-green-400'></span>green-400</li>
    <li><span class='sv-bg-color-green-500'></span>green-500</li>
    <li><span class='sv-bg-color-green-600'></span>green-600</li>
    <li><span class='sv-bg-color-green-700'></span>green-700</li>
    <li><span class='sv-bg-color-green-800'></span>green-800</li>
    <li><span class='sv-bg-color-green-900'></span>green-900</li>
    <li><span class='sv-bg-color-green-a100'></span>green-a100</li>
    <li><span class='sv-bg-color-green-a200'></span>green-a200</li>
    <li><span class='sv-bg-color-green-a400'></span>green-a400</li>
    <li><span class='sv-bg-color-green-a700'></span>green-a700</li>
  </ul>

  <ul class='example-only-colors'>
    <li><span class='sv-bg-color-yellow'></span>yellow</li>
    <li><span class='sv-bg-color-yellow-50'></span>yellow-50</li>
    <li><span class='sv-bg-color-yellow-100'></span>yellow-100</li>
    <li><span class='sv-bg-color-yellow-200'></span>yellow-200</li>
    <li><span class='sv-bg-color-yellow-300'></span>yellow-300</li>
    <li><span class='sv-bg-color-yellow-400'></span>yellow-400</li>
    <li><span class='sv-bg-color-yellow-500'></span>yellow-500</li>
    <li><span class='sv-bg-color-yellow-600'></span>yellow-600</li>
    <li><span class='sv-bg-color-yellow-700'></span>yellow-700</li>
    <li><span class='sv-bg-color-yellow-800'></span>yellow-800</li>
    <li><span class='sv-bg-color-yellow-900'></span>yellow-900</li>
    <li><span class='sv-bg-color-yellow-a100'></span>yellow-a100</li>
    <li><span class='sv-bg-color-yellow-a200'></span>yellow-a200</li>
    <li><span class='sv-bg-color-yellow-a400'></span>yellow-a400</li>
    <li><span class='sv-bg-color-yellow-a700'></span>yellow-a700</li>
  </ul>

  <ul class='example-only-colors'>
    <li><span class='sv-bg-color-amber'></span>amber</li>
    <li><span class='sv-bg-color-amber-50'></span>amber-50</li>
    <li><span class='sv-bg-color-amber-100'></span>amber-100</li>
    <li><span class='sv-bg-color-amber-200'></span>amber-200</li>
    <li><span class='sv-bg-color-amber-300'></span>amber-300</li>
    <li><span class='sv-bg-color-amber-400'></span>amber-400</li>
    <li><span class='sv-bg-color-amber-500'></span>amber-500</li>
    <li><span class='sv-bg-color-amber-600'></span>amber-600</li>
    <li><span class='sv-bg-color-amber-700'></span>amber-700</li>
    <li><span class='sv-bg-color-amber-800'></span>amber-800</li>
    <li><span class='sv-bg-color-amber-900'></span>amber-900</li>
    <li><span class='sv-bg-color-amber-a100'></span>amber-a100</li>
    <li><span class='sv-bg-color-amber-a200'></span>amber-a200</li>
    <li><span class='sv-bg-color-amber-a400'></span>amber-a400</li>
    <li><span class='sv-bg-color-amber-a700'></span>amber-a700</li>
  </ul>

  <ul class='example-only-colors'>
    <li><span class='sv-bg-color-blue'></span>blue</li>
    <li><span class='sv-bg-color-blue-50'></span>blue-50</li>
    <li><span class='sv-bg-color-blue-100'></span>blue-100</li>
    <li><span class='sv-bg-color-blue-200'></span>blue-200</li>
    <li><span class='sv-bg-color-blue-300'></span>blue-300</li>
    <li><span class='sv-bg-color-blue-400'></span>blue-400</li>
    <li><span class='sv-bg-color-blue-500'></span>blue-500</li>
    <li><span class='sv-bg-color-blue-600'></span>blue-600</li>
    <li><span class='sv-bg-color-blue-700'></span>blue-700</li>
    <li><span class='sv-bg-color-blue-800'></span>blue-800</li>
    <li><span class='sv-bg-color-blue-900'></span>blue-900</li>
    <li><span class='sv-bg-color-blue-a100'></span>blue-a100</li>
    <li><span class='sv-bg-color-blue-a200'></span>blue-a200</li>
    <li><span class='sv-bg-color-blue-a400'></span>blue-a400</li>
    <li><span class='sv-bg-color-blue-a700'></span>blue-a700</li>
  </ul>
</div>

<div class='group'>

  <ul class='example-only-colors'>
    <li><span class='sv-bg-color-orange'></span>orange</li>
    <li><span class='sv-bg-color-orange-50'></span>orange-50</li>
    <li><span class='sv-bg-color-orange-100'></span>orange-100</li>
    <li><span class='sv-bg-color-orange-200'></span>orange-200</li>
    <li><span class='sv-bg-color-orange-300'></span>orange-300</li>
    <li><span class='sv-bg-color-orange-400'></span>orange-400</li>
    <li><span class='sv-bg-color-orange-500'></span>orange-500</li>
    <li><span class='sv-bg-color-orange-600'></span>orange-600</li>
    <li><span class='sv-bg-color-orange-700'></span>orange-700</li>
    <li><span class='sv-bg-color-orange-800'></span>orange-800</li>
    <li><span class='sv-bg-color-orange-900'></span>orange-900</li>
    <li><span class='sv-bg-color-orange-a100'></span>orange-a100</li>
    <li><span class='sv-bg-color-orange-a200'></span>orange-a200</li>
    <li><span class='sv-bg-color-orange-a400'></span>orange-a400</li>
    <li><span class='sv-bg-color-orange-a700'></span>orange-a700</li>
  </ul>

  <ul class='example-only-colors'>
    <li><span class='sv-bg-color-deep-orange'></span>deep-orange</li>
    <li><span class='sv-bg-color-deep-orange-50'></span>deep-orange-50</li>
    <li><span class='sv-bg-color-deep-orange-100'></span>deep-orange-100</li>
    <li><span class='sv-bg-color-deep-orange-200'></span>deep-orange-200</li>
    <li><span class='sv-bg-color-deep-orange-300'></span>deep-orange-300</li>
    <li><span class='sv-bg-color-deep-orange-400'></span>deep-orange-400</li>
    <li><span class='sv-bg-color-deep-orange-500'></span>deep-orange-500</li>
    <li><span class='sv-bg-color-deep-orange-600'></span>deep-orange-600</li>
    <li><span class='sv-bg-color-deep-orange-700'></span>deep-orange-700</li>
    <li><span class='sv-bg-color-deep-orange-800'></span>deep-orange-800</li>
    <li><span class='sv-bg-color-deep-orange-900'></span>deep-orange-900</li>
    <li><span class='sv-bg-color-deep-orange-a100'></span>deep-orange-a100</li>
    <li><span class='sv-bg-color-deep-orange-a200'></span>deep-orange-a200</li>
    <li><span class='sv-bg-color-deep-orange-a400'></span>deep-orange-a400</li>
    <li><span class='sv-bg-color-deep-orange-a700'></span>deep-orange-a700</li>
  </ul>

  <ul class='example-only-colors'>
    <li><span class='sv-bg-color-blue-grey'></span>blue-grey</li>
    <li><span class='sv-bg-color-blue-grey-50'></span>blue-grey-50</li>
    <li><span class='sv-bg-color-blue-grey-100'></span>blue-grey-100</li>
    <li><span class='sv-bg-color-blue-grey-200'></span>blue-grey-200</li>
    <li><span class='sv-bg-color-blue-grey-300'></span>blue-grey-300</li>
    <li><span class='sv-bg-color-blue-grey-400'></span>blue-grey-400</li>
    <li><span class='sv-bg-color-blue-grey-500'></span>blue-grey-500</li>
    <li><span class='sv-bg-color-blue-grey-600'></span>blue-grey-600</li>
    <li><span class='sv-bg-color-blue-grey-700'></span>blue-grey-700</li>
    <li><span class='sv-bg-color-blue-grey-800'></span>blue-grey-800</li>
    <li><span class='sv-bg-color-blue-grey-900'></span>blue-grey-900</li>
  </ul>

  <ul class='example-only-colors'>
    <li><span class='sv-bg-color-brow'></span>brow</li>
    <li><span class='sv-bg-color-brow-50'></span>brow-50</li>
    <li><span class='sv-bg-color-brow-100'></span>brow-100</li>
    <li><span class='sv-bg-color-brow-200'></span>brow-200</li>
    <li><span class='sv-bg-color-brow-300'></span>brow-300</li>
    <li><span class='sv-bg-color-brow-400'></span>brow-400</li>
    <li><span class='sv-bg-color-brow-500'></span>brow-500</li>
    <li><span class='sv-bg-color-brow-600'></span>brow-600</li>
    <li><span class='sv-bg-color-brow-700'></span>brow-700</li>
    <li><span class='sv-bg-color-brow-800'></span>brow-800</li>
    <li><span class='sv-bg-color-brow-900'></span>brow-900</li>
  </ul>

</div>

<div class='group'>

  <ul class='example-only-colors'>
    <li><span class='sv-bg-color-grey'></span>grey</li>
    <li><span class='sv-bg-color-grey-50'></span>grey-50</li>
    <li><span class='sv-bg-color-grey-100'></span>grey-100</li>
    <li><span class='sv-bg-color-grey-200'></span>grey-200</li>
    <li><span class='sv-bg-color-grey-300'></span>grey-300</li>
    <li><span class='sv-bg-color-grey-400'></span>grey-400</li>
    <li><span class='sv-bg-color-grey-500'></span>grey-500</li>
    <li><span class='sv-bg-color-grey-600'></span>grey-600</li>
    <li><span class='sv-bg-color-grey-700'></span>grey-700</li>
    <li><span class='sv-bg-color-grey-800'></span>grey-800</li>
    <li><span class='sv-bg-color-grey-900'></span>grey-900</li>
  </ul>

  <ul class='example-only-colors'>
    <li><span class='sv-bg-color-black'></span>black</li>
    <li><span class='sv-bg-color-white'></span>white</li>
  </ul>

</div>