.sv-no-gutter {
  padding: 0 !important;
}

.sv-pull-left {
  float: left !important;
}

.sv-pull-right {
  float: right !important;
}

.sv-text-left {
  text-align: left !important;
}

.sv-text-right {
  text-align: right !important;
}

.sv-text-center {
  text-align: center !important;
}

.sv-text-justify {
  text-align: justify !important;
}

.sv-hidden {
  display: none !important;
}

.sv-vertical-marged-15 {
  margin: 15px 0;
}

.sv-horizontal-marged-15 {
  margin: 0 15px;
}

.sv-vertical-marged-25 {
  margin: 25px 0;
}

.sv-horizontal-marged-25 {
  margin: 0 25px;
}

.sv-vertical-marged-50 {
  margin: 50px 0;
}

.sv-horizontal-marged-50 {
  margin: 0 50px;
}

.sv-thin-text {
  font-weight: 300;
}
