.sv-pull-left {
  float: left !important;
}

.sv-pull-right {
  float: right !important;
}

.sv-text-left {
  text-align: left !important;
}

.sv-text-right {
  text-align: right !important;
}

.sv-text-center {
  text-align: center !important;
}

.sv-text-justify {
  text-align: justify !important;
}

.sv-hidden {
  display: none !important;
}

// VERTICAL
.sv-vertical-marged-5 {
  margin: 5px 0 !important;
}

.sv-vertical-marged-10 {
  margin: 10px 0 !important;
}

.sv-vertical-marged-15 {
  margin: 15px 0 !important;
}

.sv-vertical-marged-25 {
  margin: 25px 0 !important;
}

.sv-vertical-marged-50 {
  margin: 50px 0 !important;
}


// HORIZONTAL
.sv-horizontal-marged-5 {
  margin: 0 5px !important;
}

.sv-horizontal-marged-10 {
  margin: 0 10px !important;
}

.sv-horizontal-marged-15 {
  margin: 0 15px !important;
}

.sv-horizontal-marged-25 {
  margin: 0 25px !important;
}

.sv-horizontal-marged-50 {
  margin: 0 50px !important;
}


// HORIZONTAL
.sv-horizontal-padd-5 {
  padding: 0 5px !important;
}

.sv-horizontal-padd-10 {
  padding: 0 10px !important;
}

.sv-horizontal-padd-15 {
  padding: 0 15px !important;
}

.sv-horizontal-padd-25 {
  padding: 0 25px !important;
}

.sv-horizontal-padd-50 {
  padding: 0 50px !important;
}



// LEFT
.sv-left-marged-5 {
  margin-left: 5px !important;
}

.sv-left-marged-10 {
  margin-left: 10px !important;
}

.sv-left-marged-15 {
  margin-left: 15px !important;
}

.sv-left-marged-25 {
  margin-left: 25px !important;
}

.sv-left-marged-50 {
  margin-left: 50px !important;
}


// RIGTH
.sv-right-marged-5 {
  margin-right: 5px !important;
}

.sv-right-marged-10 {
  margin-right: 10px !important;
}

.sv-right-marged-15 {
  margin-right: 15px !important;
}

.sv-right-marged-25 {
  margin-right: 25px !important;
}

.sv-right-marged-50 {
  margin-right: 50px !important;
}


.sv-padd-5 {
  padding: 5px;
}

.sv-padd-10 {
  padding: 10px;
}

.sv-padd-15 {
  padding: 15px;
}

.sv-padd-25 {
  padding: 25px;
}

.sv-padd-50 {
  padding: 50px;
}

.sv-thin-text {
  font-weight: 300;
}

.sv-no-margins {
  margin: 0 !important;
}

.sv-fixed {
  position: fixed !important;
}

.sv-line {
  border-top: none;
  border-bottom: 1px solid;
  margin: 1rem 0;
}

.sv-line--dashed {
  border-top: none;
  border-bottom: 1px dashed;
  margin: 0 0 1rem;
}


.sv-segment {
  @include  simple-shadow();
  background: map-get($sv-colors, 'white-1');
  border: 1px solid map-get($sv-colors, 'gray-300');
  border-radius: .3rem;
  margin: 1rem 0;
  position: relative;
  z-index: auto;
}