.sv-no-gutter {
  padding: 0 !important;
}

.sv-pull-left {
  float: left !important;
}

.sv-pull-right {
  float: right !important;
}

.sv-text-left {
  text-align: left !important;
}

.sv-text-right {
  text-align: right !important;
}

.sv-text-center {
  text-align: center !important;
}

.sv-text-justify {
  text-align: justify !important;
}

.sv-hidden {
  display: none !important;
}
