//************************************************************************
// CARDS
//************************************************************************
.sv-card {
  @include simple-shadow2;
  background-color: map-get($sv-colors, 'white-1');
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: $sv-padding-small;

  header {
    display: flex;
    padding: $sv-padding-x-large;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-weight: $sv-font-weight-bold;
      margin: 0;
      padding: 0;
    }

    &.big-header {
      height: $sv-card-big-header-height;

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        align-self: flex-end;
        margin-bottom: 0;
        padding: 0;
      }
    }

  }

  main {
    display: block;
    padding: $sv-padding-large $sv-padding-x-large;
  }

  footer {
    display: flex;
    font-weight: $sv-font-weight-bold;
    padding: $sv-padding-large $sv-padding-x-large;
  }

}

.sv-segment {
  @include  simple-shadow();
  background: map-get($sv-colors, 'white-1');
  border: 1px solid map-get($sv-colors, 'gray-300');
  border-radius: $sv-segment-border-radius;
  margin: 0;
  position: relative;
  z-index: auto;
}