
.sv-container {
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: 0;

  :last-of-type { margin-bottom: 0; }

  &.row-reverse {
    flex-direction: row-reverse;
  }

  &.col {
    flex-direction: column;

    [class*="sv-grid-"] {
      margin-bottom: 2rem;

      :last-of-type { margin-bottom: 0; }
    }
  }

  &.col-reverse {
    flex-direction: column-reverse;

    [class*="sv-grid-"] {
      margin-top: 2rem;

      :last-of-type { margin-top: 0; }
    }
  }

  &.spaced {
    margin-bottom: $sv-margin-large;
  }

}

.sv-container-start {
  justify-content: flex-start;
}

.sv-container-center {
  justify-content: center;
}

.sv-container-end {
  justify-content: flex-end;
}

.sv-container-around {
  justify-content: space-around;
}

.sv-container-between {
  justify-content: space-between;
}

.sv-container-top {
  align-items: flex-start;
}

.sv-container-middle {
  align-items: center;
}

.sv-container-bottom {
  align-items: flex-end;
}

.sv-container-stretch {
  align-items: stretch;
}

.sv-container-first {
  order: -1;
}

.sv-container-last {
  order: 1;
}


[class*="sv-grid-"] {
  padding: .3rem;
}

[class*="col-spaced"] {
  padding: 1rem;
}

.sv-grid-1 { width: calc(100% / 12 * 1); }
.sv-grid-2 { width: calc(100% / 12 * 2); }
.sv-grid-3 { width: calc(100% / 12 * 3); }
.sv-grid-4 { width: calc(100% / 12 * 4); }
.sv-grid-5 { width: calc(100% / 12 * 5); }
.sv-grid-6 { width: calc(100% / 12 * 6); }
.sv-grid-7 { width: calc(100% / 12 * 7); }
.sv-grid-8 { width: calc(100% / 12 * 8); }
.sv-grid-9 { width: calc(100% / 12 * 9); }
.sv-grid-10 { width: calc(100% / 12 * 10); }
.sv-grid-11 { width: calc(100% / 12 * 11); }
.sv-grid-12 { width: calc(100% / 12 * 12); }

.sv-grid-1-offset { margin-left: calc(100% / 12 * 1); }
.sv-grid-2-offset { margin-left: calc(100% / 12 * 2); }
.sv-grid-3-offset { margin-left: calc(100% / 12 * 3); }
.sv-grid-4-offset { margin-left: calc(100% / 12 * 4); }
.sv-grid-5-offset { margin-left: calc(100% / 12 * 5); }
.sv-grid-6-offset { margin-left: calc(100% / 12 * 6); }
.sv-grid-7-offset { margin-left: calc(100% / 12 * 7); }
.sv-grid-8-offset { margin-left: calc(100% / 12 * 8); }
.sv-grid-9-offset { margin-left: calc(100% / 12 * 9); }
.sv-grid-10-offset { margin-left: calc(100% / 12 * 10); }
.sv-grid-11-offset { margin-left: calc(100% / 12 * 11); }
.sv-grid-12-offset { margin-left: calc(100% / 12 * 12); }

.sv-grid-auto {
  flex: 1 1 auto;
  max-width: 100%;
}


@media screen and (min-width: 641px) and (max-width: 960px) {

  .sv-grid-1-md { width: calc(100% / 12 * 1); }
  .sv-grid-2-md { width: calc(100% / 12 * 2); }
  .sv-grid-3-md { width: calc(100% / 12 * 3); }
  .sv-grid-4-md { width: calc(100% / 12 * 4); }
  .sv-grid-5-md { width: calc(100% / 12 * 5); }
  .sv-grid-6-md { width: calc(100% / 12 * 6); }
  .sv-grid-7-md { width: calc(100% / 12 * 7); }
  .sv-grid-8-md { width: calc(100% / 12 * 8); }
  .sv-grid-9-md { width: calc(100% / 12 * 9); }
  .sv-grid-10-md { width: calc(100% / 12 * 10); }
  .sv-grid-11-md { width: calc(100% / 12 * 11); }
  .sv-grid-12-md { width: calc(100% / 12 * 12); }

  .sv-grid-1-offset-md { margin-left: calc(100% / 12 * 1); }
  .sv-grid-2-offset-md { margin-left: calc(100% / 12 * 2); }
  .sv-grid-3-offset-md { margin-left: calc(100% / 12 * 3); }
  .sv-grid-4-offset-md { margin-left: calc(100% / 12 * 4); }
  .sv-grid-5-offset-md { margin-left: calc(100% / 12 * 5); }
  .sv-grid-6-offset-md { margin-left: calc(100% / 12 * 6); }
  .sv-grid-7-offset-md { margin-left: calc(100% / 12 * 7); }
  .sv-grid-8-offset-md { margin-left: calc(100% / 12 * 8); }
  .sv-grid-9-offset-md { margin-left: calc(100% / 12 * 9); }
  .sv-grid-10-offset-md { margin-left: calc(100% / 12 * 10); }
  .sv-grid-11-offset-md { margin-left: calc(100% / 12 * 11); }
  .sv-grid-12-offset-md { margin-left: calc(100% / 12 * 12); }

  .sv-grid-auto-md {
    flex: 1 1 auto;
    max-width: 100%;
  }

  [class*="-md"]:not([class*="sv-grid-auto"]) {
    flex: 0 0 auto;
  }

}

@media screen and (max-width: 640px) {

  .sv-grid-1-xs { width: calc(100% / 12 * 1); }
  .sv-grid-2-xs { width: calc(100% / 12 * 2); }
  .sv-grid-3-xs { width: calc(100% / 12 * 3); }
  .sv-grid-4-xs { width: calc(100% / 12 * 4); }
  .sv-grid-5-xs { width: calc(100% / 12 * 5); }
  .sv-grid-6-xs { width: calc(100% / 12 * 6); }
  .sv-grid-7-xs { width: calc(100% / 12 * 7); }
  .sv-grid-8-xs { width: calc(100% / 12 * 8); }
  .sv-grid-9-xs { width: calc(100% / 12 * 9); }
  .sv-grid-10-xs { width: calc(100% / 12 * 10); }
  .sv-grid-11-xs { width: calc(100% / 12 * 11); }
  .sv-grid-12-xs { width: calc(100% / 12 * 12); }

  .sv-grid-1-offset-xs { margin-left: calc(100% / 12 * 1); }
  .sv-grid-2-offset-xs { margin-left: calc(100% / 12 * 2); }
  .sv-grid-3-offset-xs { margin-left: calc(100% / 12 * 3); }
  .sv-grid-4-offset-xs { margin-left: calc(100% / 12 * 4); }
  .sv-grid-5-offset-xs { margin-left: calc(100% / 12 * 5); }
  .sv-grid-6-offset-xs { margin-left: calc(100% / 12 * 6); }
  .sv-grid-7-offset-xs { margin-left: calc(100% / 12 * 7); }
  .sv-grid-8-offset-xs { margin-left: calc(100% / 12 * 8); }
  .sv-grid-9-offset-xs { margin-left: calc(100% / 12 * 9); }
  .sv-grid-10-offset-xs { margin-left: calc(100% / 12 * 10); }
  .sv-grid-11-offset-xs { margin-left: calc(100% / 12 * 11); }
  .sv-grid-12-offset-xs { margin-left: calc(100% / 12 * 12); }

  .sv-grid-auto-xs {
    flex: 1 1 auto;
    max-width: 100%;
  }

  [class*="-xs"]:not([class*="sv-grid-auto"]) {
    flex: 0 0 auto;
  }

}
