.sv-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.sv-column {
  flex-basis: 100%;
  transition: all 0.3s;
}

@media screen and (min-width: 800px) {

  .sv-column {
    flex: 1;
  }

  ._20 {
    flex: 2;
  }

  ._25 {
    flex: 2.5;
  }

  ._40 {
    flex: 4;
  }

  ._60 {
    flex: 6;
  }

  ._75 {
    flex: 7.5;
  }

  ._80 {
    flex: 8;
  }

  ._100--fixed {
    flex: none;
    width: 100px;
  }

  ._150--fixed {
    flex: none;
    width: 150px;
  }

  ._200--fixed {
    flex: none;
    width: 200px;
  }

  ._250--fixed {
    flex: none;
    width: 250px;
  }

  ._300--fixed {
    flex: none;
    width: 300px;
  }

}
