
.sv-form {
  input[type="email"],
  input[type="number"],
  input[type="search"],
  input[type="text"],
  input[type="tel"],
  input[type="url"],
  input[type="password"],
  textarea,
  select {
    background-color: map-get($sv-colors, 'white-1');
    border: 1px solid map-get($sv-colors, 'steel-500');
    border-radius: $sv-form-fields-default-border;
    color: inherit;
    font-size: 1rem;
    height: $sv-form-input-default-height;
    padding: $sv-form-input-default-padding;
    vertical-align: middle;
    box-shadow:inset 0 0 3px map-get($sv-colors, 'steel-300');
    width: 100%;

    &:disabled {
      background-color: map-get($sv-colors, 'steel-200');
    }

    &.is--valid,
    &.is--valid:focus {
      box-shadow:inset 0 0 3px map-get($sv-colors, 'green-200');
      border-color: map-get($sv-colors, 'green-300');
      outline: 0;
    }

    &.is--invalid,
    &.is--invalid:focus {
      box-shadow:inset 0 0 3px map-get($sv-colors, 'red-200');
      border-color: map-get($sv-colors, 'red-300');
      outline: 0;
    }

  }

  progress {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    background: map_get($sv-colors, 'white-1');
    border: 1px solid map-get($sv-colors, 'steel-500');
    border-radius: $sv-form-fields-default-border;
    box-shadow:inset 0 0 3px map-get($sv-colors, 'steel-300');
    height: $sv-form-input-default-height;
    padding: $sv-form-progress-padding;

    width: 100%;

    &::-webkit-progress-bar {
      background: map_get($sv-colors, 'white-1');
      //border: 1px solid map-get($sv-colors, 'steel-500');
      border-radius: $sv-form-fields-default-border;
      //box-shadow:inset 0 0 3px map-get($sv-colors, 'steel-300');
      //height: $sv-form-input-default-height;
      //padding: $sv-form-input-default-padding;
      //vertical-align: middle;
    }

    &::-webkit-progress-value {

      background: repeating-linear-gradient(
          -55deg,
          map_get($sv-colors, 'blue-500'),
          map_get($sv-colors, 'blue-500') 10px,
          map_get($sv-colors, 'blue-400') 10px,
          map_get($sv-colors, 'blue-400') 20px
      );
      border-radius: $sv-form-fields-default-border;

    }

    &::-moz-progress-bar {
      background: repeating-linear-gradient(
          -55deg,
          map_get($sv-colors, 'blue-500'),
          map_get($sv-colors, 'blue-500') 10px,
          map_get($sv-colors, 'blue-400') 10px,
          map_get($sv-colors, 'blue-400') 20px
      );
      border-radius: $sv-form-fields-default-border;
      //height: $sv-form-input-default-height;
      //padding: $sv-form-input-default-padding;
      //vertical-align: middle;
    }
  }


  .three-fourths {
    width: 75%;
  }

  .two-thirds {
    width: 66%;
  }

  .half {
    width: 50%;
  }

  .quarter {
    width: 25%;
  }

  legend {
    font-size: 1rem;
    font-weight: 600;
    margin: $sv-margin-large 0;
    width: 100%;
    text-transform: uppercase;
  }

  label {
    display: block;
    margin-bottom: $sv-margin-large;

    span {
      display: block;
      margin-bottom: $sv-margin-mini;
      font-weight: 500;
      color: lighten($sv-default-text-color, 15%);
    }

    span[data-info][data-error]:not([data-info='']):not([data-error='']):after {
      content: attr(data-info) " " attr(data-error);
      font-size: small;
      margin: 0 $sv-margin-med;
      color: map_get($sv-colors, 'red-500');
    }

    span[data-info]:not([data-info='']):after {
      content: attr(data-info);
      font-size: small;
      margin: 0 $sv-margin-med;
      color: lighten($sv-default-text-color, 15%);
    }


  }

  fieldset {
    border-width: 0;
    display: block;
    padding: 0;
    margin: $sv-margin-large 0;
  }

  input[type="email"],
  input[type="number"],
  input[type="search"],
  input[type="text"],
  input[type="tel"],
  input[type="url"],
  input[type="password"],
  textarea {
    appearance: none;
  }

  textarea {
    min-height: $sv-form-textarea-default-min-height;
    padding: $sv-form-input-default-padding;
  }

  input[type="email"]:focus,
  input[type="number"]:focus,
  input[type="search"]:focus,
  input[type="text"]:focus,
  input[type="tel"]:focus,
  input[type="url"]:focus,
  input[type="password"]:focus,
  textarea:focus,
  select:focus {
    box-shadow:inset 0 0 3px map-get($sv-colors, 'blue-200');
    border-color: map-get($sv-colors, 'blue-300');
    outline: 0;
  }


  $primaryColor: map-get($sv-colors, 'green-500');
  $secondaryColor: map-get($sv-colors, 'gray-400');

  @function rem($val) {
    @return ($val / $sv-font-size-base)+rem;
  }

  input[type="checkbox"],
  input[type="radio"] {
    apparence: none;
  }

  .sv-label--group {
    display: block;
    margin-bottom: 0;
  }

  .sv-label--checkbox,
  .sv-label--radio {
    display: inline-block;
    position: relative;
    margin: .5rem;
    line-height: 1.5;
    cursor: pointer;
  }

  .sv-checkbox {
    position: relative;
    top: rem(-1);

    margin: 0 1rem 0 0 ;

    cursor: pointer;

    &:before {
      transition: transform .4s cubic-bezier(.45,1.8,.5,.75);
      transform: rotate(-45deg) scale(0, 0);

      content: "";

      position: absolute;
      left: rem(2);
      top: rem(1);
      z-index: 1;

      width: rem(12);
      height: rem(6);

      border: 2px solid $primaryColor;
      border-top-style: none;
      border-right-style: none;
    }

    &:checked {
      &:before {
        transform: rotate(-45deg) scale(1, 1);
      }
    }

    &:after {
      content: "";

      position: absolute;
      top: rem(-2);
      left: 0;

      width: 1rem;
      height: 1rem;

      background: #fff;

      border: 2px solid $secondaryColor;

      cursor: pointer;
    }
  }

  .sv-radio {
    position: relative;

    margin: 0 1rem 0 0 ;

    cursor: pointer;

    &:before {
      transition: transform .4s cubic-bezier(.45,1.8,.5,.75);
      transform: scale(0,0);

      content: "";

      position: absolute;
      top: rem(2);
      left: rem(1);
      z-index: 1;

      width: rem(9);
      height: rem(9);


      background: $primaryColor;

      border-radius: 50%;
    }

    &:checked {
      &:before {
        transform: scale(1,1);
      }
    }

    &:after {
      content: "";

      position: absolute;
      top: rem(-1);
      left: rem(-2);

      width: 1rem;
      height: 1rem;

      background: #fff;

      border: 2px solid $secondaryColor;
      border-radius: 50%;
    }
  }

  .label, .label-action {
    border-radius: $sv-form-fields-default-border;
    border: 1px solid map-get($sv-colors, 'steel-500');
    height: 34px;
    line-height: 34px;
    font-size: 1rem;
    font-stretch: normal;
    font-weight: 500;
    outline: none;
    padding: 0 $sv-padding-med;
    vertical-align: middle;
    position: relative;
    background-color: map-get($sv-colors, 'steel-100');
    color: map-get($sv-colors, 'steel-600');
  }

  .label-action {
    background-color: map-get($sv-colors, 'white-1');
    cursor: pointer;
    user-select: none;

    &:hover {
      color: map_get($sv-colors, 'steel-800');
    }

    &.active {
      i {
        color: map_get($sv-colors, 'blue-500');
      }
    }

    &:hover + .action-container,
    &:focus + .action-container{
      display: block;
    }
  }



  .sv-select {
    margin: 0 0 6px;
    position: relative;

    label {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 10px;
      line-height: 34px;

      color: rgb(57, 70, 78);
      cursor: default;
      display: block;
      font-size: 13px;
      height:34px ;
      list-style: none outside none;
      pointer-events: none;
      text-align: left;
      width:19px;
      margin: 0;
      outline: none;
      &:focus {outline:none;}
      &::-moz-focus-inner {border:0;}

    }

    select {
      width: 100%;
      cursor: pointer;
      -webkit-appearance: none;
      -moz-appearance: none;
      outline-color: rgba(0, 0, 0, 0);

      option {
        outline-color: rgba(0, 0, 0, 0);
        &:focus {outline:none;}
        &::-moz-focus-inner {border:0;}
      }

      &::-moz-focus-inner {border:0;}
      &:focus {outline:none;}

      &:-moz-focusring {
        color: transparent;
        text-shadow: 0 0 0 #000;
      }
    }
  }


}

.sv-triangle {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid map-get($sv-colors, 'steel-500');
  position: absolute;
  z-index: 99;

  &.--right {
    right: 15px;
    top: 0;
  }

}

.action-container {
  display: none;
  position: absolute;
  top: 34px;
  padding: $sv-padding-default;
  right: 0;
  z-index: 98;
  width: inherit;
  &:hover {
    display: block;
  }

}

.action-container--content {
  padding: $sv-padding-large;
  background-color: map-get($sv-colors, 'white-1');
  border: 1px solid map-get($sv-colors, 'steel-500');
  border-radius: 2px;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.3);

  footer {
    height: 38px;
    border-top: 1px solid map-get($sv-colors, 'steel-100');
    padding: $sv-padding-default 0;
  }

}

.--center {
  border-radius: 0 !important;
}

.--first {
  border-bottom-right-radius: 0 !important;
  border-top-right-radius: 0 !important;
  border-right: none !important;
}

.--last {
  border-bottom-left-radius: 0 !important;
  border-top-left-radius: 0 !important;
}



.sv-form--inline {
  @extend .sv-form;

  input[type="email"],
  input[type="number"],
  input[type="search"],
  input[type="text"],
  input[type="tel"],
  input[type="url"],
  input[type="password"],
  textarea,
  select {
    margin: 0 $sv-margin-med 0 0;
  }

  label {
    display: inline-block;
    margin-right: $sv-margin-small;
    span {
      display: inline-block;
      margin-right: $sv-margin-small;
    }
  }
}


.sv-input-group {

  display: inline-flex !important;
  width: 100%;
  position: relative;

  input[type="email"],
  input[type="number"],
  input[type="search"],
  input[type="text"],
  input[type="tel"],
  input[type="url"],
  input[type="password"],
  select {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
    width: auto;
  }

  .sv-button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 0;
    display: inline-flex;
    flex: 0 0 auto;
  }

}