.with--shadow {
  @include simple-shadow();
}

.sv-table {
  background-color: $sv-table-bg;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 2rem;
  max-width: 100%;
  width: 100%;

  > caption {
    text-align: inherit;
  }

  > thead,
  > tbody,
  > tfoot {

    > tr {
      @transition(all .3s ease);
      > th,
      > td {
        text-align: left;
        padding: $sv-table-cell-padding;
        vertical-align: top;
        border-top: 0;
        @transition(all .3s ease);
      }
    }
  }


  > thead > tr {
    border-bottom: 2px solid $sv-table-header-border-color;
  }

  > thead > tr > th {
    background-color: map-get($sv-colors, 'steel-100');
    color: map-get($sv-colors, 'blue-gray-500');
    font-weight: $sv-table-header-font-weight;
    vertical-align: bottom;
    text-transform: uppercase;
    border-top: 2px solid $sv-table-header-border-color !important;
    font-size: .9rem;

    & a {
      color: map-get($sv-colors, 'blue-gray-500');
      &:hover {
        color: map-get($sv-colors, 'blue-gray-800');
      }
    }
  }

  > caption + thead,
  > colgroup + thead,
  > thead:first-child {
    > tr:first-child {

      > th,
      > td {
        border-top: 0;
      }
    }
  }

  > tbody + tbody {
    border-top: 1px solid $sv-table-header-border-color;
  }

  // Nesting
  .sv-table {
    background-color: $sv-table-bg;
  }

  // Remove border
  .--no-border {
    border: 0;
  }
}

.with--condensed {
  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td {
        padding: $sv-table-condensed-cell-padding;
        font-size: .9rem;
      }
    }
  }
}

.with--space {
  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td {
        padding: $sv-table-spaced-cell-padding;
      }
    }
  }
}

.with--hover {
  > tbody > tr:hover {
    > td,
    > th {
      background-color: $sv-table-bg-hover;
    }
  }
}

.with--borders {
  border: 0;

  //> thead,
  > tbody,
  > tfoot {

    > tr {
      > th,
      > td {
        border: 0;
        border-bottom: 1px solid $sv-table-border-color;
      }
    }
  }

  > thead > tr {
    > th,
    > td {
      //border-bottom-width: 2px;
      border: none;
    }
  }
}

.with--stripes {
  > tbody > tr:nth-child(even) {
    > td,
    > th {
      background-color: $sv-table-bg-accent;
    }
  }
}


// Responsive tables (vertical)
//
// Wrap your tables in `.table-responsive-vertical` and we'll make them mobile friendly
// by vertical table-cell display. Only applies <768px. Everything above that will display normally.
// For correct display you must add 'data-title' to each 'td'
.sv-table-responsive-vertical {

  @media screen and (max-width: 768px) {

    // Tighten up spacing
    > .sv-table {
      margin-bottom: 0;
      background-color: transparent;
      > thead {
        display: none;
      }

      > tbody {
        display: block;

        > tr {
          display: block;
          border: 1px solid $sv-table-border-color;
          border-radius: 2px;
          margin-bottom: $sv-table-cell-padding;

          > td {
            background-color: $sv-table-bg;
            display: block;
            vertical-align: middle;
            text-align: right;
          }
          > td[data-title]:before {
            content: attr(data-title);
            float: left;
            font-size: inherit;
            font-weight: $sv-table-header-font-weight;
            color: $sv-table-header-font-color;
          }
        }
      }
    }

    // Special overrides for shadows
    // &.with-shadow {
    //   -webkit-box-shadow: none;
    //   -moz-box-shadow: none;
    //   box-shadow: none;
    //   > .table > tbody > tr {
    //     border: none;
    //     @extend .with-shadow;
    //   }
    // }

    // Special overrides for the bordered tables
    > .with--borders {
      border: 0;

      // Nuke the appropriate borders so that the parent can handle them
      > tbody {
        > tr {
          > td {
            border: 0;
            border-bottom: 1px solid $sv-table-border-color;
          }
          > td:last-child {
            border-bottom: 0;
          }
        }
      }
    }

    // Special overrides for the striped tables
    > .with--stripes {
      > tbody > tr > td,
      > tbody > tr:nth-child(odd) {
          background-color: $sv-table-bg;
      }
      > tbody > tr > td:nth-child(odd) {
          background-color: $sv-table-bg-accent;
      }
    }

    // Special overrides for hover tables
    > .with--hover {
      > tbody {
        > tr:hover > td,
        > tr:hover {
          background-color: $sv-table-bg;
        }
        > tr > td:hover {
          background-color: $sv-table-bg-hover;
        }
      }
    }
  }
}
