<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Company</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td data-title='Id'>12</td>
      <td data-title='Name'>Jhon Doe</td>
      <td data-title='Company'>Seven</td>
      <td data-title='Action'>Edit</td>
    </tr>
  <tr>
    <td data-title='Id'>13</td>
    <td data-title='Name'>Tony MacLaren</td>
    <td data-title='Company'>SamySu</td>
    <td data-title='Action'>Edit</td>
  </tr>
  <tr>
    <td data-title='Id'>14</td>
    <td data-title='Name'>Mary of Neighborhood</td>
    <td data-title='Company'>OnMyTv SA</td>
    <td data-title='Action'>Edit</td>
  </tr>
  </tbody>
</table>
