
.sv-bar-loader {
  animation: typing 1s linear infinite alternate;
  height: 8px;
  position: relative;
  width: 8px;
  display: inline-block;

  &.large {
    animation: typingLarge 1s linear infinite alternate;
    height: 16px;
    width: 16px;
  }
}

.sv-spin-loader {
  animation: spin 400ms linear infinite;
  border: 3px solid map-get($sv-colors, 'gray-400');
  border-top: 3px solid map-get($sv-colors, 'blue-400');
  border-radius: 50%;
  height: $sv-button-small-height;
  width: $sv-button-small-height;
  display: inline-block;

  &.large {
    height: $sv-form-input-default-height;
    width: $sv-form-input-default-height;
  }

}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes typing{
  0% {
    background-color: rgba(map-get($sv-colors, 'blue-500'), 1);
    box-shadow: 12px 0 0 0 rgba(map-get($sv-colors, 'blue-500'), .2),
    24px 0 0 0 rgba(map-get($sv-colors, 'blue-500'), .2);
  }

  25% {
    background-color: rgba(map-get($sv-colors, 'blue-500'), .4);
    box-shadow: 12px 0 0 0 rgba(map-get($sv-colors, 'blue-500'), .2),
    24px 0 0 0 rgba(map-get($sv-colors, 'blue-500'), .2);
  }

  75% {
    background-color: rgba(map-get($sv-colors, 'blue-500'), .4);
    box-shadow: 12px 0 0 0 rgba(map-get($sv-colors, 'blue-500'), .2),
    24px 0 0 0 rgba(map-get($sv-colors, 'blue-500'), 1);
  }
}

@keyframes typingLarge{
  0% {
    background-color: rgba(map-get($sv-colors, 'blue-500'), 1);
    box-shadow: 24px 0 0 0 rgba(map-get($sv-colors, 'blue-500'), .2),
    48px 0 0 0 rgba(map-get($sv-colors, 'blue-500'), .2);
  }

  25% {
    background-color: rgba(map-get($sv-colors, 'blue-500'), .4);
    box-shadow: 24px 0 0 0 rgba(map-get($sv-colors, 'blue-500'), .2),
    48px 0 0 0 rgba(map-get($sv-colors, 'blue-500'), .2);
  }

  75% {
    background-color: rgba(map-get($sv-colors, 'blue-500'), .4);
    box-shadow: 24px 0 0 0 rgba(map-get($sv-colors, 'blue-500'), .2),
    48px 0 0 0 rgba(map-get($sv-colors, 'blue-500'), 1);
  }
}
