@mixin calc($property, $expression) {
  #{$property}: calc(#{$expression});
}

@mixin clearfix {
  &::after {
    clear: both;
    content: '';
    display: table;
  }
}

@mixin disabled-button($backgroun-color) {
  background-color: lighten($backgroun-color, 10%);
  cursor: not-allowed;
}
