
$header-height          :45px;
$footer-height          :35px;
$small-padding          :.25em;
$default-padding        :.5em;
$med-padding            :.75em;
$large-padding          :1em;
$default-margin         :.25em;
$med-margin             :.50em;

$horizontal-menu-height :40px;
$vertical-menu-height   :30px;
$fluid-nav-witdh        :230px;
