//== Colors

$blue         :#0060aa;
$blue-top     :#0072c6;
$blue-light   :#9dd7f4;
$green        :#3c7703;
$green-light  :#a4e22b;
$yellow       :#f2aa0c;
$yellow-light :#f9e27d;
$red          :#c0392b;
$red-light    :#e74c3c;
$gray         :#acaaaa;
$gray-dark    :#434343;
$gray-light   :#ecf0f1;
$black        :#000;
$white        :#fff;


$textColor: $black;
$solidBorderColor: $gray;

/*-------------------
     All Colors
--------------------*/

/*--- Colored Backgrounds ---*/
$blueBackground   : #DFF0FF;
$greenBackground  : #EBFFED;
$orangeBackground : #FFEDDE;
$pinkBackground   : #FFE3FB;
$purpleBackground : #EAE7FF;
$redBackground    : #FFE8E6;
$tealBackground   : #E9FFFF;
$yellowBackground : #FFF8DB;

/*--- Colored Text ---*/
$blueTextColor    : $blue;
$orangeTextColor  : #dd5d15;
$pinkTextColor    : #dd238a;
$purpleTextColor  : #783daa;
$redTextColor     : $red;
$greenTextColor   : #1EBC30; // Green is difficult to read
$tealTextColor    : #10A3A3; // Teal text is difficult to read
$yellowTextColor  : #B58105; // Yellow text is difficult to read

/*--- Colored Headers ---*/
$blueHeaderColor   : darken($blueTextColor, 5);
$greenHeaderColor  : darken($greenTextColor, 5);
$orangeHeaderColor : darken($orangeTextColor, 5);
$pinkHeaderColor   : darken($pinkTextColor, 5);
$purpleHeaderColor : darken($purpleTextColor, 5);
$redHeaderColor    : darken($redTextColor, 5);
$tealHeaderColor   : darken($tealTextColor, 5);
$yellowHeaderColor : darken($yellowTextColor, 5);


/*-------------------
    Emotive Colors
--------------------*/

/* Positive */
$positiveColor           : $green;
$positiveBackgroundColor : #EEFFE7;
$positiveBorderColor     : #B7CAA7;
$positiveHeaderColor     : #356E36;
$positiveTextColor       : #3C763D;

/* Negative */
$negativeColor           : $red;
$negativeBackgroundColor : #FFF0F0;
$negativeBorderColor     : #DBB1B1;
$negativeHeaderColor     : #912D2B;
$negativeTextColor       : #A94442;

/* Info */
$infoColor              : #31CCEC;
$infoBackgroundColor    : #E9FAFF;
$infoBorderColor        : #AAD6DF;
$infoHeaderColor        : #297187;
$infoTextColor          : #337B92;

/* Warning */
$warningColor           : #F2C037;
$warningBorderColor     : #D9CAAB;
$warningBackgroundColor : #FFFBE6;
$warningHeaderColor     : #825C01;
$warningTextColor       : #876A38;

/*-------------------
     Neutral Text
--------------------*/

$darkTextColor               : rgba(0, 0, 0, 0.85);
$lightTextColor              : rgba(0, 0, 0, 0.4);
$unselectedTextColor         : rgba(0, 0, 0, 0.4);

$hoveredTextColor            : rgba(0, 0, 0, 0.8);
$pressedTextColor            : rgba(0, 0, 0, 0.8);
$selectedTextColor           : rgba(0, 0, 0, 0.8);
$disabledTextColor           : rgba(0, 0, 0, 0.2);

$invertedTextColor           : rgba(255, 255, 255, 1);
$invertedLightTextColor      : rgba(255, 255, 255, 0.8);
$invertedUnselectedTextColor : rgba(255, 255, 255, 0.5);
$invertedHoveredTextColor    : rgba(255, 255, 255, 1);
$invertedPressedTextColor    : rgba(255, 255, 255, 1);
$invertedSelectedTextColor   : rgba(255, 255, 255, 1);
$invertedDisabledTextColor   : rgba(255, 255, 255, 0.2);

/*---   Neutrals  ---*/
$fullBlack        : #000000;
$darkGrey         : #AAAAAA;
$lightGrey        : #DCDDDE;
$offWhite         : #FAFAFA;
$darkWhite        : #F0F0F0;
$white            : #FFFFFF;


/*-------------------
      Borders
--------------------*/

$circularRadius                : 500rem;

$borderColor                   : rgba(39, 41, 43, 0.15);
$selectedBorderColor           : rgba(39, 41, 43, 0.3);
$disabledBorderColor           : rgba(39, 41, 43, 0.5);

$solidBorderColor              : #D4D4D5;
$solidSelectedBorderColor      : #BEBEBF;

$whiteBorderColor              : rgba(255, 255, 255, 0.2);
$selectedWhiteBorderColor      : rgba(255, 255, 255, 0.8);

$solidWhiteBorderColor         : #555555;
$selectedSolidWhiteBorderColor : #999999;

/*-------------------
     Alpha Colors
--------------------*/

$subtleTransparentBlack : rgba(0, 0, 0, 0.03);
$transparentBlack       : rgba(0, 0, 0, 0.05);
$strongTransparentBlack : rgba(0, 0, 0, 0.10);

$subtleTransparentWhite : rgba(255, 255, 255, 0.02);
$transparentWhite       : rgba(255, 255, 255, 0.05);
$strongTransparentWhite : rgba(255, 255, 255, 0.07);

/* Positive / Negative Dupes */
$successColor           : $positiveColor;
$errorColor             : $negativeColor;
$successBackgroundColor : $positiveBackgroundColor;
$errorBackgroundColor   : $negativeBackgroundColor;
$successTextColor       : $positiveTextColor;
$errorTextColor         : $negativeTextColor;
$successBorderColor     : $positiveBorderColor;
$errorBorderColor       : $negativeBorderColor;
$successHeaderColor     : $positiveHeaderColor;
$errorHeaderColor       : $negativeHeaderColor;
