$sv-color-white                     : #fff;
$sv-color-smoke                     : #f1f1f1;
$sv-color-smoke-dark                : #ecf0f1;
$sv-color-gray-white                : #f5f7f8;
$sv-color-gray-blue                 : #cfd8dc;
$sv-color-gray-light                : #d1d1d1;
$sv-color-gray-dark                 : #a1a1a1;
$sv-color-gray-darker               : #444;
$sv-color-cyan                      : #e0f7fa;
$sv-color-blue-light                : #b3e5fc;
$sv-color-blue-default              : #0072c6;
$sv-color-blue-dark                 : #0060aa;
$sv-color-black-blue                : #2c3e50;
$sv-color-asfalt                    : #34495e;
$sv-color-green                     : #4caf50;
$sv-color-green-sea                 : #27ae60;
$sv-color-green-turq                : #1abc9c;
$sv-color-lime                      : #f0f4c3;
$sv-color-red-pomodoro              : #f44336;
$sv-color-black                     : #000;
$sv-color-black-light               : #222426;
$sv-color-black-shadow              : #333;
$sv-color-yellow                    : #f1c40f;


// $sv-color-black   : #2a262a;
// $sv-color-dark    : #4c4d5c;
// $sv-color-alphalt : #2c3e50;
// $sv-color-ocean   : #175082;
// $sv-color-bue     : #0072c6;
// $sv-color-green   : #36a389;
// $sv-color-red     : #ff443a;
// $sv-color-yellow  : #eeeda1;
// $sv-color-gray    : #eae8ea;
// $sv-color-silver  : #f5f6f4;
// $sv-color-10      : #f8fcee;
