
@each $color, $the-color in $colors {

  .sv-color-#{$color} {
    color: $the-color;
  }

  .sv-bg-color-#{$color} {
    background-color: $the-color;
  }

  .sv-border-color-#{$color} {
    border-color: $the-color;
  }

}

.sv-color-white {
  color: #fff;
}

.sv-bg-color-white {
  background-color: #fff;
}

.sv-border-color-white {
  border-color: #fff;
}

.sv-color-black {
  color: #000;
}

.sv-bg-color-black {
  background-color: #000;
}

.sv-border-color-black {
  border-color: #000;
}
