@import 'color-vars';

@each $color, $the-color in $colors {

  .sv-color-#{$color} {
    color: $the-color;
  }

  .sv-bg-color-#{$color} {
    background-color: $the-color;
  }

  .sv-border-color-#{$color} {
    border-color: $the-color;
  }

}
