@import 'configs/config.base';
@import 'configs/config.colors';
@import 'configs/config.sizes';

//@import url(http://fonts.googleapis.com/css?family=Open+Sans:700,600,400);
@import url(http://fonts.googleapis.com/css?family=Roboto:300,400,500,700,300);

html {
  font-size: $html-font-base;
  background-color: #f1f1f1;
  height: 100%;
}

// currently ems cause chrome bug misinterpreting rems on body element
body {
  color: $default-text;
  font-family: 'Roboto', sans-serif;
  font-size: 1.4em;
  font-weight: 300;
  line-height: 1.6;
  margin: $header-height 0;
}

*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline-style: none;
}

