$susy: (
  gutter-position: inside-static,
  container: fluid,
  columns: 12,
  column-width: 4em,
  global-box-sizing: border-box
);

body {
  @include container();
  //background-color: $gray-light;
  font-family: $font-family-sans-serif;
}

.sv-header {
  @include span(12 no-gutters);

  top: 0;
  position: fixed;
  height: $header-height;
  background: $blue-top;
}

.sv-container {
  @include container;
  margin: ($header-height + 10px) 0;
}

.sv-nav {
  @include span(2);
  padding: 1em;
  background: rgba($blue, .30);
}

.sv-content {
  @include span(10);
  padding: 1em;
  //background: rgba($blue, .15);
}

.sv-content-fluid {
  @include full;
  //margin: ($header-height + 10px) 0;
  //background: rgba($blue, .15);
}

.sv-nav-fluid {
  @include span(2);
  padding: 1em;
  //background: rgba($blue, .30);
  position: absolute;
  left: 0;
  z-index: 99;
}

.sv-footer {
  @include full;
  padding: $default-padding;
  background: $blue-top;
  height: $footer-height;
  bottom: 0;
  position: fixed;
}


//GRID
@for $i from 1 through 12 {
  .col-#{$i} {
    //background: rgba($gray, .70);
    @include span($i of 12 .25 fluid);
    padding: $default-padding;
    //box-shadow: 0 0 0 1px rgba($gray-dark, .125) inset;
  }

  @if $i < 12 {
    .col-offset-#{$i} {
      //background: rgba($gray, .70);
      @include push($i of 12);
      padding: $default-padding;
    }
  }
}

.row {
  @include container;
  margin: $default-margin 0;
}


.brand {
  color: $white;
  margin: 5px 0;
  font-size: 1.4em;
}


pre {
  background: $gray-light;
  padding: 1em;
  font-size: $font-size-small;
}