//@import url(http://fonts.googleapis.com/css?family=Open+Sans:700,600,400);

html {
  background-color: $sv-color-smoke;
  font-size: $sv-font-base-html;
  height: 100%;
}

// currently ems cause chrome bug misinterpreting rems on body element
body {
  color: $default-text;
  font-family: $sv-font-family;
  font-size: 1.4em;
  font-weight: 400;
  line-height: 1.6;
  margin: $body-margin 0;
}

*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  outline-style: none;
  padding: 0;
}
