.sv-button {
  background-color: $btn-default;
  border: 0;
  border-radius: 2px;
  color: $default-text;
  cursor: pointer;
  display: inline-block;
  font-size: .9em;
  font-weight: 600;
  height: 34px;
  line-height: 1.2;
  outline: none;
  padding: $sv-padding-med;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;

  &.small {
    height: 28px;
    line-height: 1;
    padding: $sv-padding-small $sv-padding-med;
  }

  &.full {
    display: block;
    width: 100%;
    margin-top: $sv-margin-small;
  }

  &:hover {
    background-color: darken($btn-default, 10%);
  }

  &.danger {
    background-color: $sv-color-red-pomodoro;
    color: $sv-color-white;

    &:hover {
      background-color: darken($sv-color-red-pomodoro, 10%);
    }
  }

  &.primary {
    background-color: $sv-color-green;
    color: $sv-color-white;

    &:hover {
      background-color: darken($sv-color-green, 10%);
    }
  }

  &.info {
    background-color: $sv-color-blue-default;
    color: $sv-color-white;

    &:hover {
      background-color: darken($sv-color-blue-default, 10%);
    }
  }

  &.marged {
    margin: 0 $sv-padding-small;
  }

}
