.sv-card {
  background-color: $sv-color-white;
  border-radius: 2px;
  box-shadow: 0 1px 3px 0 rgba($sv-color-black, .24), 0 1px 2px 0 rgba($sv-color-black, .12);
  padding: $sv-padding-default;

  .card-header {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-weight: normal;
      margin: 0;
      padding: 0;
      text-transform: uppercase;
    }

    h2 {
      font-size: 1em;
      font-weight: 600;
    }

    h3 {
      font-size: .8em;
    }
  }

  .card-body {
    margin-top: $sv-margin-default;
    min-height: 50em;
  }

}

.sv-page {
  .header {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-weight: normal;
      margin: 0;
      padding: 0;
      text-transform: uppercase;
    }

    h2 {
      font-size: 1em;
      font-weight: 600;
    }

    h3 {
      font-size: .8em;
    }
  }
}


.sv-toolbar {
  height: 50px;
  transition: all, 350ms, cubic-bezier(.19, 1, .22, 1);

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: normal;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
  }

  h2 {
    font-size: 1em;
    font-weight: 600;
  }

  h3 {
    font-size: .8em;
  }

  &.active {
    background-color: rgba($sv-color-white, .95);
    box-shadow: 0 2px 5px rgba($sv-color-black, .26);
    left: 0;
    position: fixed;
    right: 0;
    top: $header-height;
    transition: all, 350ms, cubic-bezier(.19, 1, .22, 1);
  }

}
