.sv-card {
  background-color: $sv-color-white;
  border-radius: 2px;
  box-shadow: 0 1px 3px 0 rgba($sv-color-black, .24), 0 1px 2px 0 rgba($sv-color-black, .12);
  padding: $sv-padding-default;
  margin-top: $sv-padding-small;
  margin-left: $sv-padding-small;
  margin-right: $sv-padding-small;
  margin-bottom: $sv-padding-small;

  p {
    font-size: 1.1em;
    line-height: 1.6em;

  }


  ul {
    margin-left: 25px;
    
  }

  .card-header {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin: 0;
      padding: 0;
    }

    h2 {
      font-size: 1em;
      font-weight: 600;
    }

    h3 {
      font-size: .8em;
    }
  }

  .card-meta {
    //font-size: 1em;
    color: $sv-color-gray-dark;
    display: block;
    margin-top: -1.25em;
  }

  .card-body {
    display: block;
    margin-top: $sv-margin-default;
    font-size: 1.3em;
    line-height: $sv-line-height-base;

  }

  .card-subtitle {
    font-size: 1.4em;
    //color: $sv-color-gray-dark;
    font-weight: 100;
  }

}

.sv-page {
  .header {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-weight: normal;
      margin: 0;
      padding: 0;
      text-transform: uppercase;
    }

    h2 {
      font-size: 1em;
      font-weight: 600;
    }

    h3 {
      font-size: .8em;
    }
  }
}

.sv-toolbar {
  //height: 50px;
  transition: all, 350ms, cubic-bezier(.19, 1, .22, 1);
  z-index: 99;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: normal;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
  }

  h2 {
    font-size: 1em;
    font-weight: 600;
  }

  h3 {
    font-size: .8em;
  }

  &.active {
    background-color: rgba($sv-color-white, .95);
    box-shadow: 0 2px 5px rgba($sv-color-black, .26);
    left: 0;
    position: fixed;
    right: 0;
    top: $header-height;
    transition: all, 350ms, cubic-bezier(.19, 1, .22, 1);
  }
}
