
.sv-color {

  &-blue-dark {
    color: $sv-color-blue-dark;
  }

  &-smoke {
    color: $sv-color-smoke;
  }

  &-smoke-dark {
    color: darken($sv-color-smoke, 10%);
  }

  &-gray {
    color: $sv-color-gray-light;
  }

  &-gray-dark {
    color: $sv-color-gray-dark;
  }

  &-green {
    color: $sv-color-green;
  }

  &-black-blue {
    color: $sv-color-black-blue;
  }
}

.sv-bg-color {

  &-blue-dark {
    background-color: $sv-color-blue-dark;
  }

  &-smoke {
    background-color: $sv-color-smoke;
  }

  &-smoke-dark {
    background-color: darken($sv-color-smoke, 10%);
  }

  &-gray {
    background-color: $sv-color-gray-light;
  }

  &-gray-dark {
    background-color: $sv-color-gray-dark;
  }

  &-green-light {
    background-color: lighten($sv-color-green, 35%);
  }

  &-green {
    background-color: $sv-color-green;
  }

  &-black-blue {
    background-color: $sv-color-black-blue;
  }

  &-red-light {
    background-color: lighten($sv-color-red-pomodoro, 30%);
  }
}


.sv-border-color {

  &-blue-dark {
    border: 1px solid $sv-color-blue-dark;
  }

  &-smoke {
    border: 1px solid  $sv-color-smoke;
  }

  &-smoke-dark {
    border: 1px solid darken($sv-color-smoke, 10%);
  }

  &-gray {
    border: 1px solid $sv-color-gray-light;
  }

  &-gray-dark {
    border: 1px solid $sv-color-gray-dark;
  }

  &-green-light {
    border: 1px solid lighten($sv-color-green, 35%);
  }

  &-green {
    border: 1px solid $sv-color-green;
  }

  &-black-blue {
    border: 1px solid $sv-color-black-blue;
  }

  &-red-light {
    border: 1px solid lighten($sv-color-red-pomodoro, 30%);
  }
}
