
.sv-menu-horizontal {
  ul {
    list-style: none;
    li {
      float: left;
      //display: inline-block;
      //margin: 0 .3em;

    }
    a {
      height: $horizontal-menu-height;
      line-height: $horizontal-menu-height;
      display: inline-block;
      text-decoration: none;
      padding: 0 $med-padding;
      color: $gray-dark;
      &:hover {
        background-color: $gray;
      }
    }
  }
}
