// ------------------------------------------------------------------------------------------------------------------
// BOX MODEL
// ------------------------------------------------------------------------------------------------------------------
$sv-margin-default                  : .25em;
$sv-margin-small                    : .20em;
$sv-margin-med                      : .50em;
$sv-margin-med-two                  : .75em;
$sv-margin-large                    : 1em;
$sv-margin-bigger                   : 2em;
$sv-padding-default                 : .5em;
$sv-padding-small                   : .25em;
$sv-padding-med                     : .75em;
$sv-padding-large                   : 1em;
$sv-padding-bigger                  : 2em;


// ------------------------------------------------------------------------------------------------------------------
// LAYOUT                           : GRID
// ------------------------------------------------------------------------------------------------------------------
$sv-columns                         : 12;
$sv-column-width                    : 4em;


// ------------------------------------------------------------------------------------------------------------------
// LAYOUT                           : SIZES
// ------------------------------------------------------------------------------------------------------------------
$horizontal-menu-height             : 40px;
$vertical-menu-height               : 30px;
$fluid-nav-width                    : 230px;
$header-height                      : 45px;
$footer-height                      : 35px;
$body-margin                        : 40px;
$horizontal-menu-height             : 40px;
$vertical-menu-height               : 30px;
$fluid-nav-width                    : 230px;
$menu-width                         : 230px;
$vertical-menu-margin-left          : 200px;

// ------------------------------------------------------------------------------------------------------------------
// TYPOGRAPH
// ------------------------------------------------------------------------------------------------------------------
$sv-font-base-html                  : 62.5%;
$sv-font-base-size                  : 13px !default;
$sv-line-height-base                : 1.429 !default;
$sv-line-height-base-computed       : floor(($sv-font-base-size * $sv-line-height-base));
$sv-font-family                     : 'Open Sans', sans-serif;
$sv-vertical-menu-line-height		    : 36px;

// ------------------------------------------------------------------------------------------------------------------
// COLORS                           :PURE
// ------------------------------------------------------------------------------------------------------------------
$sv-color-white                     : #fff;
$sv-color-smoke                     : #f1f1f1;
$sv-color-smoke-dark                : #ecf0f1;
$sv-color-gray-white                : #F5F7F8;
$sv-color-gray-blue                 : #cfd8dc;
$sv-color-gray-light                : #d1d1d1;
$sv-color-gray-dark                 : #a1a1a1;
$sv-color-gray-darker               : #444;
$sv-color-cyan                      : #e0f7fa;
$sv-color-blue-light                : #b3e5fc;
$sv-color-blue-default              : #0072c6;
$sv-color-blue-dark                 : #0060aa;
$sv-color-black-blue                : #2c3e50;
$sv-color-asfalt                    : #34495e;
$sv-color-green                     : #4caf50;
$sv-color-green-sea                 : #27ae60;
$sv-color-green-turq                : #1abc9c;
$sv-color-lime                      : #f0f4c3;
$sv-color-red-pomodoro              : #f44336;
$sv-color-black                     : #000;
$sv-color-black-light               : #222426;
$sv-color-black-shadow              : rgb(51, 51, 51);

// ------------------------------------------------------------------------------------------------------------------
// COLORS                           :ELEMENTS
// ------------------------------------------------------------------------------------------------------------------
$link-color                         : $sv-color-asfalt;
$link-color-hover                   : rgba($sv-color-blue-dark, .7);
$header-bg                          : $sv-color-asfalt;
$nav-fluid-bg                       : $sv-color-white;
$nav-link-bg                        : $sv-color-smoke-dark;
$brand-color                        : $sv-color-white;
$btn-default                        : $sv-color-gray-blue;
$default-text                       : $sv-color-black-shadow;
$sv-table-border-color              : $sv-color-gray-blue;
$sv-table-thead-bg                  : $sv-color-smoke-dark;

// ------------------------------------------------------------------------------------------------------------------
// TABLE
// ------------------------------------------------------------------------------------------------------------------
$sv-table-padding-compact           : 2.5px 10px 2.5px;
$sv-table-padding-default           : 5px 7px;
$sv-table-padding-large             : 7px 9px;
$sv-table-cell-padding              : 10px !default;


// ------------------------------------------------------------------------------------------------------------------
// FORM
// ------------------------------------------------------------------------------------------------------------------
$sv-form-input-default-height       : 34px;
$sv-form-input-default-padding      : 4px 8px;
$sv-form-fields-default-border      : 4px;
$sv-form-textarea-default-min-height: 65px;

// ------------------------------------------------------------------------------------------------------------------
// PAGINATION
// ------------------------------------------------------------------------------------------------------------------
$sv-pagination-padding				: 15px 20px;
