input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  background-color: $sv-color-white;
  border: 1px solid $sv-color-gray-light;
  border-radius: $sv-form-fields-default-border;
  box-shadow: none;
  font-size: .9em;
  height: $sv-form-input-default-height;
  padding: $sv-form-input-default-padding;
  vertical-align: middle;
}

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  appearance: none;
}

textarea {
  min-height: $sv-form-textarea-default-min-height;
  padding: $sv-form-input-default-padding;
}

input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 1px solid lighten($sv-color-blue-default, 20%);
  outline: 0;
}

input[type="checkbox"],
input[type="radio"] {
  display: inline;
}


.sv-form {

  .full {
    width: 100%;
  }

  span {
    display: block;
  }

  legend {
    border-bottom: 1px dotted $default-text;
    font-size: 1em;
    font-weight: 500;
    width: inherit;
  }

  label {
    display: block;
    font-weight: 300;
    margin-bottom: .5rem;
  }

  fieldset {
    border-width: 0;
    padding: 0;
  }

}

.sv-form-inline {
  input[type="email"],
  input[type="number"],
  input[type="search"],
  input[type="text"],
  input[type="tel"],
  input[type="url"],
  input[type="password"],
  textarea,
  select {
    margin: 0 $sv-margin-small;
  }
}
