.sv-label {
  background: $sv-color-smoke-dark none;
  border-color: $sv-color-smoke-dark;
  border-radius: .3rem;
  color: rgba($sv-color-black, .6);
  display: inline-block;
  font-weight: 600;
  line-height: 1;
  margin: 0 .15em;
  padding: .5em .8em;
  text-transform: none;
  transition: background .1s ease;
  vertical-align: baseline;
  white-space: nowrap;

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }

  &.spaced {
    margin: .15em;
  }

  &.fa {
    margin: 0 .75em 0 0;
    width: auto;
  }

}
