.sv-header {
  @include span(12 no-gutters);
  background: $header-bg;
  box-shadow: 0 2px 5px rgba($sv-color-black, .26);
  height: $header-height;
  position: fixed;
  top: 0;
  z-index: 9999;

  p {
    line-height: 30px;
  }
}


.sv-container-horizontal {
  @include container;
  transition: all 180ms linear;

  &.active {
    margin-left: $menu-width;
    transition: all 180ms linear;
  }
}

.sv-content-fluid {
  @include full;
  padding: $sv-padding-large;
}

.sv-nav-fluid {
  background: $nav-fluid-bg;
  bottom: 0;
  box-shadow: 0 0 50px rgba($sv-color-black, .3), 2px 4px 8px rgba($sv-color-black, .5);
  left: -($fluid-nav-witdh +100);
  overflow: visible;
  padding: 20px 0;
  position: fixed;
  top: $horizontal-menu-height;
  transition: all 180ms linear;
  width: $fluid-nav-witdh;
  z-index: 5;
}

.sv-brand {
  color: $brand-color;
  font-size: 1.4em;
  font-weight: 500;
  line-height: 1.6;
  margin: 0;
}


.sv-flex-container {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.sv-flex-container-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.sv-flex-item {
  background-color: $sv-color-cyan;
  flex-basis: auto;
  flex-grow: 1;
  margin: $sv-margin-default;

  &[draggable] {
    cursor: grab;
  }
}
