@import 'configs/config.colors';
@import 'configs/config.sizes';

.sv-header {
  @include span(12 no-gutters);

  background: $header-bg;
  box-shadow: 0 2px 5px rgba(0,0,0,0.26);
  height: $header-height;
  position: fixed;
  top: 0;
  z-index: 10;

  p {
    line-height: 30px;
  }
}


.sv-container-horizontal {
  @include container;
}

.sv-content-fluid {
  @include full;
  padding: $large-padding;
}

.sv-nav-fluid {
  background: $nav-fluid-bg;
  bottom: 0;
  box-shadow: 0 0 50px rgba(0, 0, 0, .3), 2px 4px 8px rgba(0, 0, 0, .5);
  left: -($fluid-nav-witdh +100);
  overflow: visible;
  padding: 20px 0;
  position: fixed;
  top: $horizontal-menu-height;
  transition: all 180ms linear;
  width: $fluid-nav-witdh;
  z-index: 5;
}

.sv-brand {
  color: $brand-color;
  font-size: 1.4em;
  line-height: 30px;
  margin: 0;
}
