.sv-header {
  @include span(12 no-gutters);
  background: $header-bg;
  box-shadow: 0 2px 5px rgba($sv-color-black, .26);
  height: $header-height;
  position: fixed;
  top: 0;
  z-index: 9999;

  p {
    line-height: 30px;
  }
}

.sv-container-horizontal {
  @include container;
  transition: all 180ms linear;

  &.active {
    margin-left: $menu-width;
    transition: all 180ms linear;
  }
}

.sv-content-fluid {
  @include full;
  padding: $sv-padding-large;
}

.sv-nav-fluid {
  background: $nav-fluid-bg;
  bottom: 0;
  box-shadow: 0 0 50px rgba($sv-color-black, .3), 2px 4px 8px rgba($sv-color-black, .5);
  left: -($fluid-nav-witdh +100);
  overflow: visible;
  padding: 20px 0;
  position: fixed;
  top: $horizontal-menu-height;
  transition: all 180ms linear;
  width: $fluid-nav-witdh;
  z-index: 5;
}

.sv-brand {
  color: $brand-color;
  font-size: 1.4em;
  font-weight: 500;
  line-height: 1.6;
  margin: 0;
}


.sv-flex-container {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.sv-flex-container-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.sv-flex-item {
  flex-basis: auto;
  flex-grow: 0;
  margin: $sv-margin-default;

  &[draggable] {
    cursor: grab;
  }

  &.grow-1 {
    flex-grow: 1;
  }
  &.grow-2 {
    flex-grow: 2;
  }
  &.grow-3 {
    flex-grow: 3;
  }
}


.sv-segment {
  position: relative;
  background: #ffffff;
  box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15);
  margin: 1rem 0em;
  padding: 1em 1em;
  border-radius: 0.28571429rem;
  border: 1px solid rgba(34, 36, 38, 0.15);

  &:first-child {
    margin-top: 0em;
  }

  &:last-child {
    margin-bottom: 0em;
  }

  &.stacked {
    padding-bottom: 1.4em;

    &:before,
    &:after {
      content: '';
      position: absolute;
      bottom: -3px;
      left: 0%;
      border-top: 1px solid rgba(34, 36, 38, 0.15);
      background: rgba(0, 0, 0, 0.03);
      width: 100%;
      height: 6px;
      visibility: visible;
    }

    &:before {
      display: none;
    }
  }
  ///* Add additional page */
  //.ui.tall.stacked.segments:before,
  //.ui.tall.stacked.segment:before {
  //  display: block;
  //  bottom: 0px;
  //}
  &.small {
    margin: .2em;
    padding: .2em .5em;
  }
}

.sv-h-title {
  border: none;
  margin: calc(2rem -  0.14285em ) 0em 1rem;
  padding: 0em 0em;
  font-family: $sv-font-family;
  font-weight: bold;
  line-height: 1.2em;
  text-transform: none;
  color: rgba(0, 0, 0, 0.87);

  &:first-child {
    margin-top: -0.14285em;
  }

  &:last-child {
    margin-bottom: 0em;
  }

  small {
    line-height: 1.2em;
    font-weight: 400;
    font-size: .8em;
    margin-left: .4em;

  }
}

.sv-color {
  &-gray {
    color: $sv-color-gray-light;
  }

  &-green {
    color: $sv-color-green;
  }

}
