$swift-ease-out-duration: 0.3s !default;
$swift-ease-out-timing-function: cubic-bezier(.3, .3, .3, .51) !default;
$swift-ease-out: all $swift-ease-out-duration $swift-ease-out-timing-function !default;


.hamburger {
  background: transparent;
  border: 0 none;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  height: 1em;
  padding: 0;
  transition: transform .2s ease-in-out;
  vertical-align: middle;
  width: 1em;
}

//Button height fix for Firefox
.hamburger::-moz-focus-inner {
  border: 0 none;
  padding: 0;
}

//Focus fix for Chrome
.hamburger:focus {
  outline: 0;
}

.hamburger:before,
.hamburger:after {
  content: '';
}

.hamburger:before,
.hamburger .icon,
.hamburger:after {

  background: $sv-color-white;
  border-radius: .05em;
  display: block;
  height: .2em;
  margin: 0 0 .2em;
  transition: transform .2s ease-in-out;
  width: 100%;
}


.hamburger.active:before,
.hamburger.active .icon,
.hamburger.active:after {
  background: $sv-color-white;
}

.hamburger.hamburger-vertical.active {
  transform: rotate(270deg);
}


//CLOSE/CANCEL/CROSS

.hamburger.hamburger-cancel.active .icon {
  transform: scale(0);
}

.hamburger.hamburger-cancel.active:before {
  transform: translateY(.4em) rotate(135deg);
}

.hamburger.hamburger-cancel.active:after {
  transform: translateY(-.4em) rotate(-135deg);
}

.sv-menu {
  background: $sv-color-white;
  box-shadow: 0 0 4px rgb(51, 51, 51);
  left: 0;
  padding: 1em 1.35em;
  position: absolute;
  text-align: left;
  top: $header-height;
  transform: scale(0);
  transform-origin: left top;
  transition: all, 350ms, cubic-bezier(.19, 1, .22, 1);
  width: $menu-width;

  li {
    line-height: 2.35em;
    list-style: none;
    opacity: 0;
    position: relative;
    transform: translate3d(0, -10px, 0);

    a {
      font-size: 1em;
      font-weight: 500;
      text-decoration: none;
    }
  }


  &.active {
    transform: scale(1);

    li {
      opacity: 1;
      transform: translate3d(0, 0, 0);
      transition: all, 350ms, cubic-bezier(.19, 1, .22, 1);
    }
  }
}
