@import 'configs/config.box-model';
@import 'configs/config.colors';
@import 'configs/config.sizes';

$swift-ease-out-duration: 0.3s !default;
$swift-ease-out-timing-function: cubic-bezier(.3, .3, .3, .51) !default;
$swift-ease-out: all $swift-ease-out-duration $swift-ease-out-timing-function !default;

// .sv-menu-horizontal {
//   display: none;
//   ul {
//     list-style: none;
//     li {
//       float: left;
//     }
//     a {
//       height: $horizontal-menu-height;
//       line-height: $horizontal-menu-height;
//       display: inline-block;
//       text-decoration: none;
//       padding: 0 $med-padding;
//       &:hover {
//         // background-color: $gray;
//       }
//     }
//   }
//   &.show {
//     display: block;
//   }
// }


// .sv-nav-fluid {
//   ul {
//     list-style: none;
//     li {

//     }
//     a {
//       display: block;
//       text-decoration: none;
//       line-height: 50px;
//       padding: 0 $med-padding;
//       font-weight: 400;
//       &:hover {
//         background-color: $nav-link-bg;
//         color: darken($link-color, 10%);
//       }
//     }
//   }
//   &.show {
//     transition: all 180ms linear;
//     left: 0;
//   }
// }


.hamburger {
  background: transparent;
  border: 0 none;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  height: 1em;
  padding: 0;
  transition: transform .2s ease-in-out;
  vertical-align: middle;
  width: 1em;
}



//Button height fix for Firefox
.hamburger::-moz-focus-inner {
  border: 0 none;
  padding: 0;
}

//Focus fix for Chrome
.hamburger:focus {
  outline: 0;
}

.hamburger:before,
.hamburger:after {
  content: '';
}

.hamburger:before,
.hamburger .icon,
.hamburger:after {

  background: $white;
  border-radius: .05em;
  display: block;
  height: .2em;
  margin: 0 0 .2em;
  transition: transform .2s ease-in-out;
  width: 100%;
}


.hamburger.active:before,
.hamburger.active .icon,
.hamburger.active:after {
  background: $white;
}

.hamburger.hamburger-vertical.active {
  transform: rotate(270deg);
}


//CLOSE/CANCEL/CROSS

.hamburger.hamburger-cancel.active .icon {
  transform: scale(0);
}

.hamburger.hamburger-cancel.active:before {
  transform: translateY(.4em) rotate(135deg);
}

.hamburger.hamburger-cancel.active:after {
  transform: translateY(-.4em) rotate(-135deg);
}


// .sv-menu {
//   background-color: rgba($white, .98);
//   border: 2px solid $white;
//   box-shadow: 0 0 10px #bbb;
//   left: 0;
//   position: absolute;
//   padding: 10px;
//   opacity: 0;
//   top: $header-height;
//   transition: all 180ms linear; 
//   width: $menu-width;
//   // z-index: 9;
//   &.transition-in {
//     opacity: 1;
//     transition: $swift-ease-out;
//     transform: translate3d(0,0,0) scale(1.0);
//   }
//   &.transition-out {
//     transition: $swift-ease-out;
//     transform: translate3d(0,100%,0) scale(0.2);
//   }
  
//   & ul {
//     list-style: none;
//   }
// }





.sv-menu {
  position: absolute;
  // top: -1em;
  box-shadow: 0 0 4px rgb(51, 51, 51);
  left: 0;
  padding: 1em 1.35em;
  width: $menu-width;
  text-align: left;
  background: $white;
  
  transition: all, 350ms, cubic-bezier(.19, 1, .22, 1);
  transform: scale(0);
  transform-origin: left top;
  top: $header-height;

  li {
    list-style: none;
    position: relative;
    line-height: 2.35em;
    transform: translate3d(0, -10px, 0);
    opacity: 0;

    a {
      font-weight: 600;
      text-decoration: none;
      font-size: 1em;
    }
  }


  &.active {
    transform: scale(1);

    li {
      transition: all, 350ms, cubic-bezier(.19, 1, .22, 1);
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
  }
}