.sv-button {
  background-color: transparent;
  border: 0;
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  height: 34px;
  line-height: 34px;
  font-size: .85rem;
  font-stretch: normal;
  font-weight: 600;
  outline: none;
  padding: 0 $sv-padding-med;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  white-space: nowrap;

  &.link {
    border-radius: 0;
    color: $sv-default-link-color;
    font-weight: 600;
    line-height: $sv-font-base;
    padding: $sv-padding-small;


    &:active,
    &.active,
    &[disabled],
    fieldset[disabled] & {
      background-color: transparent;
    }


    &:hover,
    &:active,
    &:hover {
      background-color: transparent;
      color: $sv-default-link-color;
    }

    &[disabled],
    fieldset[disabled] & {
      &:hover,
      &:focus {
        text-decoration: none;
      }
    }

    &.link-danger {
      color: map-get($sv-colors, 'red-500');

      &:hover {
        color: darken(map-get($sv-colors, 'red-500'), 10%);
      }
    }

    &.link-primary {
      color: map-get($sv-colors, 'green-600');

      &:hover {
        color: darken(map-get($sv-colors, 'green-600'), 10%);
      }
    }

    &.link-info {
      color: map-get($sv-colors, 'blue-500');

      &:hover {
        color: darken(map-get($sv-colors, 'blue-500'), 10%);
      }
    }

    &.link-warning {
      color: map-get($sv-colors, 'yellow-500');

      &:hover {
        color: darken(map-get($sv-colors, 'yellow-500'), 10%);
      }
    }
  }

  &.small {
    font-size: .8rem;
    height: 28px;
    line-height: 1;
    padding: $sv-padding-small $sv-padding-med;
  }

  &.full {
    display: block;
    margin-top: $sv-margin-small;
    width: 100%;
  }

  &.circle {
    border-radius: 50%;
    height: 45px;
    padding: 0;
    width: 45px;

    &.small {
      font-size: .8rem;
      height: 28px;
      width: 28px;
    }
  }

  //&:hover {
  //  background-color: darken(map-get($sv-colors, 'blue-gray-400'), 10%);
  //}

  &.danger {
    background-color: map-get($sv-colors, 'red-400');
    color: map-get($sv-colors, 'white-1');

    &:hover {
      background-color: darken(map-get($sv-colors, 'red-400'), 7%);
    }

    &[disabled] {
      @include disabled-button(map-get($sv-colors, 'red-200'));
    }

  }

  &.primary {
    background-color: map-get($sv-colors, 'green-400');
    color: map-get($sv-colors, 'white-1');

    &:hover {
      background-color: darken(map-get($sv-colors, 'green-400'), 7%);
    }

    &[disabled] {
      @include disabled-button(map-get($sv-colors, 'green-200'));
    }
  }

  &.info {
    background-color: map-get($sv-colors, 'blue-400');
    color: map-get($sv-colors, 'white-1');

    &:hover {
      background-color: darken(map-get($sv-colors, 'blue-400'), 7%);
    }

    &[disabled] {
      @include disabled-button(map-get($sv-colors, 'blue-200'));
    }
  }

  &.default {
    background-color: map-get($sv-colors, 'steel-400');
    color: map-get($sv-colors, 'steel-700');

    &:hover {
      background-color: darken(map-get($sv-colors, 'steel-400'), 7%);
    }

    &[disabled] {
      @include disabled-button(map-get($sv-colors, 'steel-400'));
    }
  }

  &.marged {
    margin: 0 $sv-padding-small;
  }

}
