.sv-no-gutter {
  padding: 0 !important;
}

.sv-pull-left {
  float: left !important;
}

.sv-pull-right {
  float: right !important;
}


// TEXT ALIGN
.sv-text-left {
  text-align: left;
}

.sv-text-right {
  text-align: right;
}

.sv-text-center {
  text-align: center;
}

.sv-text-justify {
  text-align: justify;
}

.fa {
  line-height: 21px !important;
}

.hidden {
  display: none;
}

.sv-bg {
  &-info {
    background-color: $sv-color-blue-light;
  }

  &-success {
    background-color: $sv-color-green;
  }
}

//TODO: REMOVER, É APENAS PARA AJUSTE DO VISUAL NO KOWALSKI
.react-tabs [role=tablist] {
  margin: 0 !important;
  border-color: #d3d3d3;

  li {
    border-color: #d3d3d3;
    border-radius: 5px 5px 0 0;

    &:first-child {
     margin: 0 0 0 5px;
    }
  }

  [aria-selected=true]  {
    border-color: #d3d3d3;
  }
}


code {
  background-color: $sv-color-smoke-dark;
  font-family: monospace;
  color: $sv-color-red-pomodoro;
  padding: $sv-padding-small;
}