.sv-no-gutter {
  padding: 0 !important;
}

.sv-pull-left {
  float: left !important;
}

.sv-pull-right {
  float: right !important;
}

.sv-text-left {
  text-align: left !important;
}

.sv-text-right {
  text-align: right !important;
}

.sv-text-center {
  text-align: center !important;
}

.sv-text-justify {
  text-align: justify !important;
}

.hidden {
  display: none !important;
}

.sv-bg {
  &-info {
    background-color: $sv-color-blue-light;
  }

  &-success {
    background-color: $sv-color-green;
  }
}

code {
  background-color: $sv-color-smoke-dark;
  font-family: monospace;
  color: $sv-color-red-pomodoro;
  padding: $sv-padding-small;
}
