ul {
  list-style: none;

  &.sv-styled {
    list-style: circle;
  }

  &.inline {
    display: table;
    min-width: 100%;
    width: 100%;

    li {
      display: table-cell;
    }
  }
}

dl dt {
  font-weight: $sv-font-weight-bold;
}

dl dd {
  margin-bottom: $sv-margin-med;
}

ol {
  list-style-position: inside;
}

.sv-ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.sv-ol li {
  counter-increment: step-counter;
  margin-bottom: 10px;
  line-height: $sv-line-height-base;
}

.sv-ol li::before {
  content: counter(step-counter);
  margin-right: $sv-margin-med;
  font-size: 90%;
  background-color: map-get($sv-colors, 'gray-100');
  color: inherit;
  font-weight: bold;
  padding: 2px 8px;
  border-radius: 3px;
}
