@import 'normalize';

*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  outline-style: none;
  padding: 0;
}

html {
  font-size: $sv-font-size-root;
}

body {
  color: $sv-default-text-color;
  font-family: $sv-font-family;
  font-size: $sv-font-base;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  letter-spacing: .01rem;
  line-height: $sv-line-height-base;
}
