$susy: (
  gutter-position: inside-static,
  container: fluid,
  columns: 12,
  column-width: 4em,
  global-box-sizing: border-box
);

body {
  @include container();
  background-color: $gray-light;
  margin: $header-height 0;
  font-family: $font-family-sans-serif;
}

.sv-header {
  @include span(12 no-gutters);

  top: 0;
  position: fixed;
  height: $header-height;
  background: $blue-top;
  z-index: 10;
  box-shadow: 0 2px 5px rgba(0,0,0,0.26);
  p {
    line-height: 30px;
  }
}

.sv-container-vertical {
  @include container;
  margin: ($header-height + 10px) 0;
}

.sv-container-horizontal {
  @include container;
}


.sv-nav-vertical {
  @include span(2);
  padding: 1em;
  background: rgba($blue, .30);
}

.sv-nav-horizontal {
  @include container;
  background: rgba($gray-light, .90);
  height: $horizontal-menu-height;
  border-bottom: 1px solid rgba($gray, .6);
}

.sv-content {
  @include span(10);
  padding: 1em;
  //background: rgba($blue, .15);
}

.sv-content-fluid {
  @include full;
  padding: $large-padding;
  //margin: ($header-height + 10px) 0;
  //background: rgba($blue, .15);
}

.sv-nav-fluid {
  //@include span(1);
  //padding: 1em;
  background: $white;
  position: fixed;
  left: -($fluid-nav-witdh +100);
  transition: all 180ms linear;
  z-index: 5;
  bottom: 0;
  overflow: visible;
  width: $fluid-nav-witdh;
  top: $horizontal-menu-height;
  box-shadow: 0 0 50px rgba(0,0,0,.3),2px 4px 8px rgba(0,0,0,.5);
  padding: 20px 0;
  //-webkit-transform: translateX(-240px);
  //transform: translateX(-240px);
  //-webkit-transition: -webkit-transform .15s ease-in-out;
  //transition: transform .15s ease-in-out;

}

.sv-footer {
  @include full;
  padding: $default-padding;
  background: $blue-top;
  height: $footer-height;
  bottom: 0;
  position: fixed;
  z-index: 10;
}

// .sv-no-gutter {
//   padding: 0 !important;
// }

//GRID
@for $i from 1 through 12 {
  .col-#{$i} {
    //background: rgba($gray, .70);
    @include span($i of 12 .25 fluid);
    padding: $default-padding;
    //box-shadow: 0 0 0 1px rgba($gray-dark, .125) inset;
  }

  @if $i < 12 {
    .col-offset-#{$i} {
      //background: rgba($gray, .70);
      @include push($i of 12);
      padding: $default-padding;
    }
  }
}

.row {
  @include container;
  margin: $default-margin 0;
}


.brand {
  color: $white;
  margin: 0;
  font-size: 1.4em;
  text-align: center;
  line-height: 30px;
}

/*******************************
         Code Samples
*******************************/
pre {
  background: $gray-light;
  font-size: $font-size-base;
  transition: all .3s ease;
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  color: rgba($gray-dark, .8);
  &.active {
    overflow: auto;
    max-height: 300px;
    opacity: 1;
    padding: 1em;
    transition: all .3s ease;
  }
}
.code-container {
  font-family: $font-family-monospace;
}


.hljs {
  display: block;
  overflow-x: auto;
  padding: 0em;
  background-color: transparent;
  -webkit-text-size-adjust: none;
  color: #333333;
}

.hljs.xml {
  color: #555555;
}
.hljs.xml:hover {
  color: #333333;
}

/* Class Name */
.hljs-string,
.hljs-tag .hljs-value,
.hljs-phpdoc,
.hljs-dartdoc,
.tex .hljs-formula {
  color: #009991;
}

/* Comment */
.hljs-comment,
.hljs-template_comment,
.diff .hljs-header,
.hljs-javadoc {
  color: #AAAAAA;
  font-style: italic;
}


/* Properties */
.hljs-tag,
.hljs-rules .hljs-property,
.django .hljs-tag .hljs-keyword {
  color: #892A6F;
  font-weight: normal;
}

/* HTML Tag */
.hljs-tag .hljs-title {
  color: #892A6F;
}

/* Attribute */
.hljs-attribute,
.hljs-variable,
.lisp .hljs-body {
  transition: color 0.3s;
  color: #934E4E;
}

/* CSS ID */
.hljs-title,
.hljs-id,
.scss .hljs-preprocessor {
  color: #009FDA;
  font-weight: bold;
}

/* CSS Attribute */
.hljs-rule .hljs-attribute {
  color: #892A6F;
}

/* CSS Value */
.hljs-number,
.hljs-hexcolor,
.ruby .hljs-constant {
  color: #333333;
}



/*--------------
      Normal
---------------*/

.hljs-keyword,
.css .rule .hljs-keyword,
.hljs-winutils,
.javascript .hljs-title,
.nginx .hljs-title,
.hljs-subst,
.hljs-request,
.hljs-status {
  color: #333;
  font-weight: bold;
}

.javascript .hljs-title,
.hljs-list .hljs-keyword,
.hljs-subst {
  font-weight: normal;
}

.hljs-class .hljs-title,
.hljs-type,
.vhdl .hljs-literal,
.tex .hljs-command {
  color: #458;
  font-weight: bold;
}


.hljs-regexp {
  color: #009926;
}

.hljs-built_in {
  color: #0086b3;
}

.hljs-preprocessor,
.hljs-pragma,
.hljs-pi,
.hljs-doctype,
.hljs-shebang,
.hljs-cdata {
  color: #999;
  font-weight: bold;
}

.hljs-deletion {
  background: #fdd;
}

.hljs-addition {
  background: #dfd;
}

.diff .hljs-change {
  background: #0086b3;
}

.hljs-chunk {
  color: #aaa;
}
