@import 'normalize';

//************************************************************************
// Setting global values
//************************************************************************
*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  outline-style: none;
  padding: 0;
}


*:focus {
  outline: none;
}

//************************************************************************
// Setting font size
//************************************************************************
html {
  font-size: $sv-font-size-base;
}

//************************************************************************
// Setting body
//************************************************************************
body {
  color: $sv-default-text-color;
  font-family: $sv-font-family;
  font-weight: $sv-font-weight-default;
  font-size: $sv-font-base;
  line-height: $sv-line-height-base;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: grayscale;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}


//************************************************************************
// Optimizing text render
//************************************************************************
body, button, html, input, select, textarea {
  text-rendering: optimizeLegibility;
}


//************************************************************************
// Default hr
//************************************************************************
hr {
  background-image: linear-gradient(to left,
    map_get($sv-colors, 'steel-100'),
    map_get($sv-colors, 'steel-500'),
    map_get($sv-colors, 'steel-500'),
    map_get($sv-colors, 'steel-100')
  );
  border: 0;
  height: 1px;
  margin: 0 0 $sv-margin-bigger 0;
}